[2016-03-10 13:51] gilv opened #11 "Improve directory / container listing"
There are couple of issues related directories listing, using */* patterns

[2016-03-10 13:52] gilv opened #12 "Add fault tolerance coverage, including speculate mode support"
In a process of merging code to cover fault tolerance and speculative mode.

[2016-03-10 13:54] gilv opened #13 "Need unitest coverage"
Current unitests are sort of functional tests, that use real Swift cluster.
We need regular unitests

[2016-03-10 13:55] gilv opened #14 "Fixing object delete and object overwrite mode from Spark"
Code is ready. In a process of merging,

[2016-03-10 14:05] gilv opened #15 "Authentication token expiration in the Swift driver"
I never tested what happens if authentication token expires.
For example, Spark saves 1000 tasks, each task persist it's relevant data - part-XXXX.

What happens if token expired in the middle?
The same for read operations.

Some functions in the code doesn't contain "Retry authentication", for example createObject in SwiftAPIClient. There should be coverage for retry in case of authentication tok

[2016-03-10 14:08] gilv opened #16 "Testing various Hadoop versions"
Currently code was tested with Hadoop 2.6.0 and 2.7.2
It would be nice to know how it behaves with other Hadoop versions.

[2016-03-10 14:12] gilv commented on #11
Perhaps this one is relevant https://github.com/SparkTC/stocator/pull/9.

[2016-03-10 22:00] charles2588 commented on #15
Hi gliv,

I just tested the token failure with Bluemix Object Storage Service.
I hope it helps.
Bluemix Object Storage Service's Keystone V3 response mentions:-
"issued_at": "2016-03-10T19:26:41.000000Z"
"expires_at": "2016-03-10T20:26:41.337443Z"
So i believe the token for Bluemix object storage service stays valid for about 1 hour

Test:-
Loaded spark-shell with stocator jar.
SQL context availab

[2016-03-12 13:34] samos123 opened #17 "Swift tenant configuration on a per job basis"
For my use case I would like to have the ability to specify the Swift tenant credentials on a per tenant basis. Currently this is configured through xml files. Is there any way to dynamically specify the tenant credentials through spark context or similar?

[2016-03-12 15:15] gilv commented on #17
@samos123 Of course. You don't need to use xml files.
Spark allows you to provide Hadoop configuration in run time, for example
sc.hadoopConfiguration.set("KEY","VALUE")

[2016-03-13 11:25] samos123 commented on #17
Handy to know. Thanks!

[2016-03-13 11:25] #17 closed

[2016-03-14 07:15] gilv opened #18 "Create method should generate objects with correct content-type"
create(...) method in ObjectStoreFileSystem uses wrong content-type for generated objects:

`FSDataOutputStream outStream = storageClient.createObject(objNameModified, "binary/octet-stream", metadata, statistics);
`

This should be somehow resolved to correct content-type. It would be good to know how other Hadoop drivers resolves content-types. We need to decide wether we should have correct cont

[2016-03-14 11:04] gilv opened #19 "How to enforce _SUCCESS file creation?"
Hadoop contains configuration key "mapreduce.fileoutputcommitter.marksuccessfuljobs".
If value is set to "true" or value is not set, then each successful job will create _SUCCESS file.
Stocator rely on this file for certain flows and it need to verify that mapreduce.fileoutputcommitter.marksuccessfuljobs is not set to false ( the default is true, i think )

[2016-03-15 12:30] gilv commented on #13
Done

[2016-03-15 12:30] #13 closed

[2016-03-15 12:30] gilv commented on #14
Done.

[2016-03-15 12:30] #14 closed

[2016-03-23 18:13] gilv commented on #12
Done.

[2016-03-23 18:13] #12 closed

[2016-03-23 18:14] gilv commented on #19
Done.

[2016-03-23 18:14] #19 closed

[2016-04-04 00:40] anirupdutta opened #22 "Problems with dynamically setting the configuration values."
First of all thanks for this library. I was trying to test it out and encountered a few issues.

I tried with both Bluemix Keystone V3 and Legacy Softlayer Object Storage.
https://gist.github.com/anirupdutta/50434ef3ca87e850db3ded7ea877a744

Error trace
https://gist.github.com/anirupdutta/3de2e6f739889e019c1b2d80e272223e

Any idea what is causing this.

[2016-04-04 01:27] anirupdutta commented on #22
- [ ]

- [ ]

[2016-04-04 01:27] anirupdutta commented on #22
butter fingered..

[2016-04-04 01:57] anirupdutta commented on #22
https://github.com/SparkTC/stocator/blob/master/src/main/java/com/ibm/stocator/fs/swift/SwiftAPIClient.java#L175
Doesn't seem right....

[2016-04-04 02:54] anirupdutta opened #23 "Support compression"
Using the default swift connector, compression works out of the box. Compressing the data helps us to achieve significant performance gains, specially in our case where the files saved by one spark job will be processed by another job. We generate around 4-6 GB of data per hour. Compression helps us to reduce it to around 800 MB.

If we can support something like this, it would be great.

val data

[2016-04-04 02:58] anirupdutta commented on #22
I was able to make it work with swauth by changing the tenant name to swift account name. But just that you know in case of swauth, this is considered to be the full user name:
SLOS****-2:anirup.dutta

If we just do this, it will work with JOSS

val config = new AccountConfig()
config.setAuthUrl("https://dal05.objectstorage.softlayer.net/auth/v1.0/")
config.setUsername("SLOS****-2:anirup.dutta")
c

[2016-04-04 04:24] gilv commented on #22
@anirupdutta I am not sure i follow the problem. Did you followed steps on the Stocator documentation how to work with Bluemix object store service? It has detail section with example and explanation and key mappings and so on. Did you tried this?

[2016-04-04 04:26] gilv commented on #23
@anirupdutta Compression is certainly an important thing. It suppose to work with the old driver and the new driver, since compression doesn't happens inside the code, but in upper modules.
From your remark, i understand that you tried it with the old driver where it perfectly works and it's not working with the new driver? What exception you got?
I will also try this with the new driver. It suppo

[2016-04-04 08:45] gilv commented on #23
@anirupdutta I just checked and it works. I used Scala shell

import org.apache.hadoop.io.compress.GzipCodec
val data = Array(1, 2, 3, 4, 5, 6, 7, 8, 9)
val distData = sc.parallelize(data)
distData.saveAsTextFile("swift2d://gz1.lvm/data.txt", classOf[GzipCodec])

Objects were created as gzip files.

[2016-04-04 08:45] #23 closed

[2016-04-04 15:21] anirupdutta commented on #23
This is what I see when I turn on compression.

one1.txt
one1.txt/_SUCCESS
one1.txt/part-00000.gz-attempt_201604041019_0000_m_000000_0
one1.txt/part-00001.gz-attempt_201604041019_0000_m_000001_1
one1.txt/part-00002.gz-attempt_201604041019_0000_m_000002_2
one1.txt/part-00003.gz-attempt_201604041019_0000_m_000003_3
one1.txt/part-00004.gz-attempt_201604041019_0000_m_000004_4
one1.txt/part-00005.gz-at

[2016-04-04 16:17] gilv commented on #23
@anirupdutta But it still generate compressed gzip files and Spark can read those compressed files without problems. The object is "one1.txt", this what should be accessed from Spark.
The parts has different names, you are right. But it's not an issue. By the way, parts has different names based on the  Spark cluster. If you run in cluster and standalone you will have different names for the parts

[2016-04-04 16:40] anirupdutta commented on #23
@gilv I may be confused but one1.txt is just a 0 byte object with type application/directory. Anyway I think I understand what you are saying. I will test it to make sure it works.

(cleversafe)anirup@anirup-ibm:~$ swift stat logs one1.txt
         Account: AUTH_6b4ff923-4cd5-4001-b28e-9fb2e4f439c4
       Container: logs
          Object: one1.txt
    Content Type: application/directory
  Content

[2016-04-04 18:06] gilv commented on #23
@anirupdutta yeap :) this is how it works... empty object one1.txt and then parts written as /one1.txt/part-XXX and we also have an empty object one1.txt/_SUCCESS

[2016-04-04 18:07] gilv commented on #23
@anirupdutta  but all is hidden, unless you browse object store directly... from end user point of view only "one1.txt" is exists.

[2016-04-04 18:37] anirupdutta commented on #22
Okay so here is the swauth code: It works
https://gist.github.com/anirupdutta/f2f508dd73feb8dc1df26a547709ed81

Here is the keystone v2.0 code based on the [readme ](https://github.com/SparkTC/stocator/blob/master/README.md)

https://gist.github.com/anirupdutta/8b3338d60684865fd62d5fe733f0067f

It fails but I am quite sure it is happening due to JOSS as the keystone V2.0 tries authentication with

[2016-04-04 18:41] gilv commented on #22
@anirupdutta  Bluemix object service is Keystone V3, not V2

[2016-04-04 19:03] gilv commented on #22
@anirupdutta I commented on your gist. What exactly you want to achieve? To connect to public SoftLayer object store or Bluemix object service?
This is my configuration i use to access Bluemix object service
[https://gist.github.com/gilv/1bf64ba17bdc8190818bb85ba7220ec3](https://gist.github.com/gilv/1bf64ba17bdc8190818bb85ba7220ec3)

[2016-04-05 03:54] anirupdutta commented on #22
First of all I cannot modify any core-site.xml files. I am using Bluemix Spark as a Service so I don't have access to the environment. I have to set the values dynamically.

Bluemix object store is essentially Softlayer object storage which supports keystone auth. I am from the object storage dev team.

So I want to use keystone instead of using swauth for authenticating.
Keystone V2 isn't turned

[2016-04-05 05:01] gilv commented on #22
@anirupdutta ok, got it. Few clarifications: SoftLayer when accessed directly using Swiftauth. Bluemix object service uses Keystone v3. it's 2 different things.

You don't need core-site.xml to access any of them. You can setup access details in the code and you already did it in your SoftLayer example Gist.

Copy the keys from the core-sites.xml that i showed you and setup those keys in your code

[2016-04-05 06:06] anirupdutta commented on #22
Bluemix and Softlayer object store are same.
Bluemix object store basically allows to authenticate using keystone V3 API and access object storage but they are same backend. I am from SL object storage dev team :)

Yes and it didn't work when I tried using with Keystone v3 or v2.
I don't want to use swauth for authenticating.

https://github.com/SparkTC/stocator/commit/c650747fc27a200dcff7b5b361f0

[2016-04-05 06:14] anirupdutta commented on #23
@gilv Good to know. New to spark :)

[2016-04-05 12:34] gilv opened #25 "Swift driver: Stocator should be able to access Swift public containers without authentication"
In particular it should support referrer access URLs
http://docs.openstack.org/developer/swift/misc.html

[2016-04-05 12:36] gilv opened #26 "Swift driver: support large objects creation"
Stocator should support creation of a single object that is more then 5GB size.
Work in progress in https://github.com/SparkTC/stocator/pull/21

[2016-04-05 12:38] gilv opened #27 "Expand unitest and functional tests coverage."

[2016-04-05 13:04] gilv opened #28 "Support object rename"
Work in progress https://github.com/SparkTC/stocator/pull/24

[2016-04-07 06:23] anirupdutta commented on #22
Issue is resolved. Thanks @gilv for the help.

[2016-04-08 20:41] jasoncl commented on #25
Can you give us an example where a swift public container is?

[2016-04-08 21:53] jasoncl commented on #18
I found an example in Hadoop test where it uses "application/octet-stream" for its content-type.
[https://github.com/apache/hadoop/blob/2e1d0ff4e901b8313c8d71869735b94ed8bc40a0/hadoop-hdfs-project/hadoop-hdfs-httpfs/src/test/java/org/apache/hadoop/fs/http/server/TestHttpFSServer.java]

Looks like "binary/octet-stream" is not one of the predefined content type according to
[https://www.w3.org/Proto

[2016-04-09 08:05] gilv commented on #18
@jasoncl Do you know what content type should be when  someone store gzip file by using existing Hadoop drivers? Is it also application/octet-stream?

[2016-04-11 12:05] gilv commented on #25
Done.

[2016-04-11 12:05] #22 closed

[2016-04-11 18:35] jasoncl commented on #18
@gilv Looks like Hadoop http client in HttpFSFileSystem.java sets Content-Type to be UPLOAD_CONTENT_TYPE, which is "application/octet-stream". Hadoop http server in CheckUploadContentTypeFilter.java specifically checks the Content-Type needs to be "application/octet-stream".
[https://github.com/apache/hadoop/search?utf8=✓&q=UPLOAD_CONTENT_TYPE](https://github.com/apache/hadoop/search?utf8=✓&q=UPLO

[2016-04-12 04:43] DmitrySot opened #29 "The 403 Forbidden error is ignored at PUT flow"
the configuration:
I have 2 users defined at keystone:
user1
user2

I have two containers, they allowed a read access to both users, but write access allowed only to one user per container:
user1 can write to container1 (but not to container2)
user2 can write to container1 (but not to container1)

if I try to write to the wrong container with wrong credentials I got 403 forbidden error

but when I

[2016-04-18 15:26] snowch opened #30 "AttributeError: 'SparkContext' object has no attribute 'hadoopConfiguration'"
I'm not sure if this is a bug or user error.

See the details of the ticket at: https://github.com/snowch/biginsight-examples/issues/28

[2016-04-18 15:55] snowch commented on #30
This was user error.  From python I need to use:

[code]

[2016-04-18 15:55] #30 closed

[2016-04-18 20:02] snowch opened #31 "Question: Is is possible to read data from swift with this library?"
The example on the README is just for writing data to swift.  Is reading supported?

[2016-04-19 06:23] Nosfe commented on #31
@snowch Yes it is possible.

[2016-04-19 08:50] snowch commented on #31
@Nosfe are you able to share any example code, preferably python?

[2016-04-19 09:43] Nosfe commented on #31
@snowch

Using a Jupyter notebook:

from pyspark import SparkConf, SparkContext

conf = (
    SparkConf()
    .set("spark.hadoop.fs.swift2d.impl", "com.ibm.stocator.fs.ObjectStoreFileSystem")
    .set("spark.hadoop.fs.swift2d.service.sahara.username","username")
    .set("spark.hadoop.fs.swift2d.service.sahara.password","password")
    .set("spark.hadoop.fs.swift2d.service.sahara.tenant","tenant")

[2016-04-19 10:38] snowch commented on #31
Thanks @Nosfe

[2016-04-19 10:38] #31 closed

[2016-04-19 10:57] snowch opened #32 "Delete swift files/containers with stocator?"
I have saved rdds to swift.  I now need to clean up some containers.

[code]

Is it possible to delete swift files/containers with stocator?  If so, please provide an example:

[2016-04-19 12:15] gilv commented on #32
@snowch Spark doesn't provide you a way to delete objects. You have to delete them externally, like use REST client to access your object store directly or some UI console that object store exposes.
Stocator implements FileSystem interface, it contains DELETE method, but it means you need to call FileSystem API directly, bypassing Spark.

[2016-04-19 12:22] snowch commented on #32
@gilv which object would I call the delete method on?  Would it be counts?
[code]

[2016-04-19 17:50] gilv commented on #32
@snowch It's raw example, but you can get the idea...

import org.apache.hadoop.fs.FileSystem;
import org.apache.hadoop.fs.Path;

import java.io.IOException;
import java.net.URI;

	public class Test{
		private static Configuration mConf = new Configuration(true);
		public static void main(String[] args) {
	        mConf.set("fs.swift2d.impl","com.ibm.stocator.fs.ObjectStoreFileSystem");

[2016-04-19 17:59] gilv opened #33 "create object doesn't work in SSL enabled mode"
Create method uses wrong HTTP package that doesn't natively supports SSL mode.

We should use org.apache.commons.httpclient.methods.PutMethod instead of the current implementation. The package org.apache.commons.httpclient.methods.PutMethod internally supports SSL mode. This will make SSL mode work as expected when creating new objects.

Current code will throw

bicluster#7|Traceback (most recent

[2016-04-19 19:31] snowch commented on #32
Perfect - thanks @gilv

[2016-04-19 19:31] #32 closed

[2016-04-20 09:46] #18 closed

[2016-04-20 09:54] gilv opened #36 "Support Amazon S3 object store"
WIP [https://github.com/SparkTC/stocator/pull/4](https://github.com/SparkTC/stocator/pull/4)

[2016-04-20 17:30] djalova commented on #33
Is it possible to use javax.ssl.HttpsURLConnection for this?

[2016-04-20 18:16] snowch commented on #33
@gilv where is the problem?  connecting to swift using https?

[2016-04-20 18:39] gilv commented on #33
@snowch The problem in this code

 @Override
  public FSDataOutputStream createObject(String objName, String contentType,
      Map<String, String> metadata, Statistics statistics) throws IOException {
    URL url = new URL(getAccessURL() + "/" + objName);
    LOG.debug("PUT {}. Content-Type : {}", url.toString(), contentType);
    try {
      HttpURLConnection httpCon = (HttpURLConnection) url.op

[2016-04-20 18:39] gilv commented on #33
@djalova I don't know..perhaps.

[2016-04-20 18:47] djalova commented on #33
@gilv If we just have to use HTTPS to upload an object, I was able to do it by changing
`      HttpURLConnection httpCon = (HttpURLConnection) url.openConnection();
`
`      HttpsURLConnection httpCon = (HttpURLConnection) url.openConnection();
`
Since HttpsURLConnection is a subclass of HttpURLConnection it doesn't break any existing code. Although I don't have access to a BI cluster so I'm not i

[2016-04-20 20:13] snowch commented on #33
I just replaced java.net.HttpURLConnection with javax.net.ssl.HttpsURLConnection - still the same problem.

I also put a debugger on the spark job and it looks as though there aren't any DelegationTokens.  Is this a problem due to kerberos running on standard clusters, but not on basic clusters?

[code]

[2016-04-20 23:08] djalova commented on #33
I tried to trace through the code and it seems that SecurityUtil.buildDTServiceName gets called in FileSystem.getCanonicalServiceName using `SecurityUtil.buildDTServiceName(getUri(), getDefaultPort())`.
However when in Stocator's ObjectStoreFileSystem getURI() is implemented so that it always returns null.
Therefore when we get to the following piece of code in SecurityUtil.buildDTServiceName:
[co

[2016-04-21 05:46] snowch commented on #33
It works ok on the basic cluster, but on a standard cluster it fails with a new exception:

[code]

[2016-04-25 09:59] gilv commented on #33
@snowch @djalova Seems to be resolved in the last commit.
@snowch can you please test it with the recent master code?

[2016-04-25 11:23] snowch commented on #33
This fixes the issue for me.

[2016-04-25 12:31] gilv commented on #33
Resolved

[2016-04-25 12:31] #33 closed

[2016-04-25 12:32] snowch commented on #33
Thanks for fixing this.  When will a 1.0.2 release be expected?

[2016-04-25 12:43] gilv commented on #33
@snowch i will try to handle it today

[2016-04-25 12:53] snowch commented on #33
Awesome.  Thanks @gilv

[2016-04-25 17:54] jasoncl commented on #27
@gilv, I can help with this. Which functional test area should I be focusing on first?

[2016-05-03 04:54] gilv commented on #27
@jasoncl thanks.  i think the current unitest and functional tests are very weak. So any addition to this - would be very valuable. We need unitests that will cover much more functions that we have today.
See ObjectStoreFileSystemTest and SwiftAPIClientTest. They should be expanded to cover much more functionality. They both use powermock package. We should extend them both and also write more tes

[2016-05-09 07:42] gilv opened #40 "Testing Stocator with Spark Streaming"
We need to test that Stocator works with Spark Streaming.
This https://docs.cloud.databricks.com/docs/latest/databricks_guide/08%20Spark%20Streaming/08%20Write%20Output%20To%20S3.html contains very good example.
We need to verify that it works with Stocator as well.
It will be also good to document here if there are any modification to the example above in order to make it with work with Stocator.

[2016-05-09 18:08] gilv commented on #40
@djalova Any chance you can look at it? Thanks

[2016-05-09 18:10] djalova commented on #40
@gilv Sure, I'll look into this.

[2016-05-09 21:39] djalova commented on #40
@gilv I tested this using the example in the link and found that Stocator works without having to modify any code.

[2016-05-10 05:11] gilv commented on #40
@djalova Thanks a lot.

[2016-05-11 15:50] snowch opened #43 "Question: swift url for solftlayer?"
When saving a file to softlayer, the example on the README is this:

[code]

Where do I get the AUTH_ID from?

[2016-05-12 03:45] gilv commented on #43
@snowch This is example related public containers only.
Otherwise, auth url is of the form: https://dal05.objectstorage.softlayer.net/auth/v1.0 ( for example Dallas )

[2016-05-12 07:17] snowch commented on #43
Hi @gilv - sorry not following.  Should I be using this?

[code]
The swift file url is: `swift2d://lon02.objectstorage.softlayer.net/auth/v1.0/counts`

[code]

The counts container exists in softlayer.

[2016-05-12 12:42] snowch commented on #43
@djalova - are you able to point me in the right direction with this?

[2016-05-12 15:29] gilv commented on #43
@snowch I am not sure i understand. You connect to SL the same way you connect to Bluemix object service or any other Swift cluster. Just provide auth url to SL and that's it.

[2016-05-12 15:50] #40 closed

[2016-05-12 18:11] snowch commented on #43
Thanks @gilv @djalova - sorted now.

[2016-05-12 18:11] #43 closed

[2016-05-26 05:49] gilv opened #44 "Running the same SQL couple of time may throw java.lang.IndexOutOfBoundsException"
I used some SQL on Parquet file.
First run was ok. I then re-run the query again and got

16/05/26 08:45:04 DEBUG SwiftInputStream: negative seek
16/05/26 08:45:04 DEBUG SwiftInputStream: Reading 6619446 bytes starting at 6553910
16/05/26 08:45:04 WARN TaskSetManager: Lost task 5.0 in stage 9.0 (TID 472, localhost): java.lang.IndexOutOfBoundsException
	at sun.security.ssl.AppInputStream.read(AppIn

[2016-06-28 08:17] rjd60 commented on #15
Hi Gil,

This is a real issue for us: we have an application that runs indefinitely, and after an hour so (using Bluemix Object Storage) updates start to fail. It seems that reads are still OK which implies that JOSS is doing the right thing. Why does it not use JOSS for updates also?

Thanks,
Rob

[2016-06-30 10:09] gilv commented on #29
Done.

[2016-06-30 10:09] gilv commented on #15
@rjd60 Done. About to make new release

[2016-06-30 17:28] #29 closed

[2016-06-30 17:28] #15 closed

[2016-07-02 11:28] #27 closed

[2016-07-02 11:28] #16 closed

[2016-07-02 11:57] gilv opened #47 "Container listing"
When trying to retrieve a strict subset of contained objects by using a wildcard, for example, x*.csv, stocator returned all the objects of the specified container.

[2016-07-06 23:39] djalova commented on #47
I'll look into this.

[2016-07-06 23:48] djalova commented on #47
My PR  #20  resolves this. There's also a test case included that matches up with the query you described.

[2016-07-10 08:53] gilv commented on #47
Resolved by @djalova

[2016-07-10 08:53] #47 closed

[2016-07-10 08:54] gilv commented on #11
Resolved by @djalova

[2016-07-10 08:54] #11 closed

[2016-07-19 23:38] djalova commented on #44
Seems to be caused by using a deprecated version of HttpClient.
Relevant PR: #46

[2016-07-25 20:10] snowch opened #51 "How to use encryption with stocator?"
When working with enterprise data, there is often a requirement to have encryption of data at rest.

How can Stocator support encryption at rest?

[2016-07-26 05:21] gilv commented on #51
@snowch we started to work on it

[2016-07-26 08:32] snowch commented on #51
Thanks @gilv.  Do you have a rough ETA?

[2016-07-27 10:02] gilv opened #52 "Improving cleanup process in the unitests"
Many unitests create temp data.
The way it works today is that each @Test creates it's data and then
`@After
  public void tearDown()`
responsible to clean the generated data.

This is highly inefficient since it happens for each test and not per test suite. We need to change the logic, so that temp data will be created only once in the setup() method and cleaned at the end of the class run:
`@Aft

[2016-07-27 10:02] gilv commented on #52
@djalova Can you please look at it?

[2016-07-27 10:04] gilv opened #53 "Unitests should use createFile(..) instead of mkdirs()"
Stocator doesn't implements mkdirs(). Some unitests calls mkdirs(), which  do nothing.
We need to make sure that unitests will call createFile(..) and not mkdirs().
We can implement new createFile()..that will create few bytes files.

[2016-07-27 10:04] gilv commented on #53
@djalova Can you please look at it?

[2016-07-28 00:46] djalova commented on #52
Will submit a PR soon.

[2016-07-28 10:34] snowch opened #54 "improved error handing"
When an error is thrown by stocator, it is very difficult to find the cause of the error.  For example:

[code]

Stocator is quite difficult to work with because the error messages generally don't help you identify the root cause of the problem.

[2016-07-28 13:16] gilv commented on #54
@snowch in general, Stocator provides many info when exception happens.
Can you show the whole trace? The exception you copy-paste here is from JOSS on create account.. this might happen when some auth related information is missing.
I need to see the whole flow, perhaps some scenarios in Stocator need better exception handling and provide better information.

[2016-08-01 20:07] millerbryan opened #56 "Reference the new driver in the core-site.xml"
The xml snippet shown references the class name for the new driver.  However, it doesn't include the filesystem path where the class is located.

[code]

Where should the driver location be specified (using Ambari)?

Thanks

[2016-08-01 20:53] gilv commented on #56
@millerbryan it just a reference to the class name, so that Hadoop eco-system (Spark, etc.. ) will know what class responsible for "swift2d". You can use core-sites.xml or provide configuration directly via hadoop configuration in the run time.
You need to have stocator jar on the class path otherwise it will fail to load com.ibm.stocator.fs.ObjectStoreFileSystem.

[2016-08-01 21:12] millerbryan commented on #56
@gilv - Thanks!  I will have a go a testing that out since I have to update my core-site.xml anyway.

[2016-08-01 21:12] #56 closed

[2016-08-16 11:23] #54 closed

[2016-08-17 05:12] RayOsLei opened #60 "Is JOSS support keystone v3? I can't get keystone-v3-0.9.10-0001.patch from ../stocator/additions/joss/patch"

[2016-08-17 07:03] RayOsLei commented on #60
my joss's version is 0.9.12 ,this is my coding :
public static void getKeystoneV3Auth(){
		AccountConfig config = new AccountConfig();
		config.setUsername("demo");
        config.setPassword("1");
        config.setAuthUrl("http://192.168.201.101:5000/v3/");
        config.setTenantName("demo");
		Account account = new AccountFactory(config).createAccount();
		System.out.println(account);
		Colle

[2016-08-17 10:34] RayOsLei commented on #60
i'm sorry i can't find the keystone v3 patch in the source code,can you give me one?

[2016-08-18 05:48] RayOsLei opened #62 "i'm sorry i can't find the keystone v3 patch in the source code,can you give me one?and how to use it in joss?"

[2016-08-18 06:54] gilv commented on #62
@RayOsLei Is it related Joss or Stocator? If joss - you should post those questions on the Joss forums.  This is what i am using in Stocator
https://github.com/SparkTC/stocator/blob/master/src/main/java/com/ibm/stocator/fs/swift/auth/PasswordScopeAccess.java

[2016-08-18 06:54] #60 closed

[2016-08-18 08:30] RayOsLei commented on #62
It is related Joss,but joss forums don't tell me how to solve it ?

[2016-08-18 09:19] gilv commented on #62
@RayOsLei sorry, i don't have any patch for Joss. Seems you misunderstand it.

[2016-08-18 09:19] #62 closed

[2016-08-26 09:42] gilv opened #65 "Setting timeout in JOSS"
We need to have an ability to setup timeout for the requests when we use JOSS.
It seems JOSS uses keep-alive or too large timeout. We need to provide additional configuration parameter and use it to setup HTTP timeout for JOSS.

[2016-08-26 09:42] gilv commented on #65
@djalova Can you please look at it?

[2016-08-26 23:36] djalova commented on #65
Addressed in #46

[2016-09-04 10:39] gilv opened #67 "Use HttpClient in SwiftOutputStream"
We have to use HttpClient ( version 4 and up ) for the streaming upload.
Currently SwiftOutputStream uses HttpURLConnection to obtain ouputstream that is used for streaming. We should implement the same based on CloseableHttpClient, similar to what we do in SwiftAPIDirect.

[2016-09-04 10:40] gilv commented on #67
@djalova Can you check this please?

[2016-09-05 05:18] #65 closed

[2016-09-06 05:25] gilv commented on #67
@djalova  This seems to be relevant [(http://stackoverflow.com/questions/10146692/how-do-i-write-to-an-outputstream-using-defaulthttpclient)]

[2016-09-06 05:50] #44 closed

[2016-09-06 20:29] djalova commented on #67
Sure, I'll take a look at it.

[2016-09-07 05:08] gilv commented on #67
@djalova Thanks.

[2016-09-12 08:26] gilv commented on #67
https://github.com/SparkTC/stocator/pull/72 based on #71.

[2016-09-12 08:26] #67 closed

[2016-09-15 09:04] gilv opened #74 "Issues with Hadoop dependency on HttpClient"
Stocator depends on   httpcomponents.httpcore.version 4.4.5 and httpcomponents.httpclient.version 4.5.2. However current Hadoop releases still depends on older versions
[INFO] +- org.apache.hadoop:hadoop-common:jar:2.7.2:provided
[INFO] |  +- net.java.dev.jets3t:jets3t:jar:0.9.0:provided
[INFO] |  |  - (org.apache.httpcomponents:httpclient:jar:4.1.2:provided - omitted for conflict with 4.2.1)
[INF

[2016-09-15 09:06] gilv commented on #74
@djalova Can you estimate how complicated is to create another branch of Stocator that depends on httpclient:jar:4.1.2 ? In a short term this will allow us to run natively in Hadoop 2.7.x

[2016-09-15 09:16] gilv commented on #74
Alternative solution is to apply those patches on the Hadoop 2.7.2-src, build it and then replace hadoop-commons.jar in the 2.7.2 distribution. You need to make sure to delete old httplient and httpcore from share/common/lib

[2016-09-15 22:39] djalova commented on #74
@gilv I tried to create another branch that depended on httpclient 4.1.2 and ran into runtime errors because JOSS uses PoolingClientConnectionManager which was made available in 4.2.

[2016-09-15 22:42] djalova commented on #74
Here's a link to my progress
https://github.com/djalova/stocator/tree/httpclient-4.1.2

[2016-09-16 04:36] gilv commented on #74
We should also document that https://issues.apache.org/jira/browse/HADOOP-12767 ignored hadoop-openstack fixes

[2016-09-27 07:25] gilv opened #78 "Stocator should use FileSystem.Statistics to report metrics"

[2016-11-18 08:07] gilv opened #95 "ObjectStoreGlobber.glob(path) is returning null. Seems that globStatus(path) is not handling the wildcard * properly"
Create an object with the partition structure, something like
container/data/year=2015/month=11/data1.txt
container/data/year=2016/month=12/data2.txt
container/data/year=2015/month=11/data3.txt
container/data/year=2015/month=11/data4.txt

And now access all objects of the form
`container/data/year=*/month=*`

Stocator will return wrong result.

We also need to make sure that null is not returned,

[2016-11-18 08:07] gilv commented on #95
@djalova Can you please look at it? Thanks

[2016-11-19 00:24] djalova commented on #95
@gilv I have objects with that structure but if I query for `"container/data/year=*/month=*"`, it returns the correct results. For which query does this fail?

[2016-11-22 05:35] gilv commented on #95
@djalova thanks. But there is some bug with returning wrong results when there are partitions "/year=aaa/month=bbb" and so on. I don't know yet what query return wrong result...can you experiment a bit with it? If i understand correctly then `container/data/year=*/month=*` this one work fine for you...may be you can try other options? like to list `container/data`  or `container/data/year=*`?

[2016-11-22 12:08] gilv opened #97 "Stocator support for temp url"
Stocator need to support temp url.

For example, consider the following temp url
https://mil01.objectstorage.softlayer.net/v1/AUTH_8f731319-18c3-4ce8-909f-df78b885df0a/testurl1/data.csv?temp_url_sig=ID&temp_url_expires=1479816450

To access it from Spark:

val d = sc.textFile("swift2d://testurl1.mil01/v1/AUTH_8f731319-18c3-4ce8-909f-df78b885df0a/testurl1/data.csv?temp_url_sig=ID&temp_url_expires=1

[2016-11-22 12:08] gilv commented on #97
@djalova Can you handle it please?

[2016-11-22 12:14] gilv commented on #97
@michaelfactor FYI

[2016-11-22 18:57] djalova commented on #97
Hi Gil,
 
Sure I can work on this. I just want to make sure that this temporary URL lasts for the rest of the week. I checked the expiration date and assuming that the number 1479816450 maps to a Unix timestamp, the URL seems to expire some time today.
 
Thanks,
Daniel Jalova
 
----- Original message -----From: Gil Vernik <notifications@github.com>To: SparkTC/stocator <stocator@noreply.github.com>

[2016-12-01 23:32] djalova commented on #95
@gilv For `container/data` there needs to be a 0 byte file named `container/data` for it to work. The `container/data/year=*` should work as is.

[2016-12-04 11:25] #97 closed

[2016-12-04 11:30] gilv opened #99 "multiple partition object and create object with overwrite"
Assume object store contains:

container/d
container/d/part-001
container/d/part-002
container/_SUCCESS

We now call create method to create the same object in the overwrite mode.
Assume that we now create object "d" that has smaller size, only 1 part.

Existing code will not delete previous object - but overwrite "d", "d/part-001". In this scenario old parts and even _SUCCESS method will exists f

[2016-12-04 11:31] gilv commented on #99
@djalova can you check it please?

[2016-12-04 11:46] gilv opened #100 "testOverwrite() in TestSwiftFileSystemBasicOps fails"
testOverwrite() in TestSwiftFileSystemBasicOps fails with wrong content length.
Not sure when this issue appears.

[2016-12-04 11:46] gilv commented on #100
@djalova Can you check this please?

[2016-12-05 19:50] djalova commented on #100
Looking into this. Seems that the metadata isn't getting updated when the actual object is overwritten.

[2016-12-06 01:23] djalova commented on #99
@gilv Can you give me a sample application where this doesn't work?
In Spark, I can overwrite objects using the following:
`dataframe.write.mode(org.apache.spark.sql.SaveMode.Overwrite).format("csv").save("container/object")`
This deletes all the parts that exist in the path.

[2016-12-06 03:51] #100 closed

[2016-12-06 05:40] gilv opened #102 "container auto create - turn on and off"
If Spark persists an objects in the container that is not exists, current code will automatically create the container. To make this happen, Stocator init method always checks if container exists and if not creates it automatically. All this happen in the init method of SwiftAPIClient.

In certain cases we would like to disable automatic container creation and skip the check if container exists du

[2016-12-06 05:47] gilv opened #103 "Improve Stocator init method"
Consider Spark with many workers. When Spark job is submitted, each worker will try to initialize Stocator. This can be easily seen. Just make Spark to access an object with many parts or access a container with multiple objects. Then see the logs of the tasks. You will notice that each task on the worker node will perform Stocator init.

Stocator init method is costly, since it contains token aut

[2016-12-06 05:47] gilv commented on #102
@djalova Can you check it please?

[2016-12-06 05:47] gilv commented on #103
@djalova Can you check it please?

[2016-12-06 05:50] gilv commented on #99
@djalova good point. In this flow Spark will automatically delete objects prior it creates them and there are no issues. But seems some flows allows overwrite mode and they don't perform delete. Perhaps it's a bug in Spark itself. Let's keep this issue as open and i will try to get more details on this.
I agree, we need to reproduce it.

[2016-12-06 05:52] gilv commented on #74
@djalova no need to work on 4.1.2 anymore. I will document the Hadoop issue on the wiki.

[2016-12-06 05:52] #74 closed

[2016-12-06 08:49] michaelfactor commented on #102
@gilv In addition to the above, instead of doing the head at all, would it make sense to try the PUT of the object, catch the exception for the non-existing container and create the container, and then redo the object PUT?  The check first approach typically involves two calls but can be three.  The try and recover approach is typically one call but can be three.  The check first approach is simpl

[2016-12-06 08:54] gilv commented on #102
@michaelfactor it depends on what is the 1st operation. If it's PUT - then your suggestion is fine. But it may be HEAD, or GET, etc.. so we will need to try-catch many operation in Stocator. It will be complicated change, since there is no single point when there is HEAD or GET.

[2016-12-06 09:00] michaelfactor commented on #102
@gilv Agreed completely -- this is a performance-simplicity tradeoff and the recovery on the HEAD or GET will be different for the PUT.  Not sure you need to autocreate on HEAD or GET of an object since if the container doesn't exist, obviously the object doesn't.  But this is obviously a performance optimization and we need to understand its value in practice before rushing to make the change.

[2016-12-06 19:00] mynameisguy opened #104 "stocator hangs while trying to upload an object"
I'm using stocator as a replacement to hadoop-openstack when using hadoop library (not in spark)
While uploading object the app got stuck on:
[code]

This is probably due to network issues (usually it is not happening), but I would have expected to get an exception.

[2016-12-07 02:43] robinnt commented on #95
I am also seeing an inconsistency with the default file system when there are no results returned from calling ObjectStoreFileSystem.globStatus. An empty array is expected but null is returned instead. I am seeing NullPointerException in many places because of this difference. Can this be changed to return an empty array when there are no results.

[2016-12-07 18:43] djalova commented on #95
@robinnt This should be fixed in master, are you still running into NPEs with the latest code?

[2016-12-08 23:17] djalova commented on #104
@mynameisguy How long was it stuck for before you stopped the upload?

[2016-12-09 01:05] robinnt commented on #95
@djalova I tried the code in the master branch and the NPEs are fixed. In the hive branch the fixes are not there but there are other fixes that are in progress that are needed. Can you add the NPE fix to the hive branch.

[2016-12-09 01:18] djalova commented on #95
@robinnt The commit that fixes this should be in the hive branch as well. Can you send me a stack trace?

[2016-12-09 01:39] robinnt commented on #95
@djalova ok got it. Thanks.

[2016-12-12 13:13] mynameisguy commented on #104
@djalova few hours for upload that should have finished in few minutes

[2016-12-13 00:20] djalova commented on #102
@gilv I think all operations start out by calling FileSystem.exists() whether its a PUT or GET operation. In the case where auto create is off should we just throw a new exception when a container is not present?

[2016-12-13 00:49] robinnt commented on #95
Using the latest code in hive-support branch I am still seeing a problem where a call to globStatus returns an empty array when objects exist in swift that match.

These objects exist in swift:
[code]
But nothing is returned by

`
globStatus("/gendata_19yrs_stoc/_DYN0.127403861618094193923682792174938877438/year=*/month=*")
`

[2016-12-13 01:04] djalova commented on #95
@robinnt Does it still pick up everything if you query for `"gendata_19yrs_stoc*"` ?

[2016-12-13 01:47] robinnt commented on #95
@djalova Also no results returned with

globStatus("/gendata_19yrs_stoc*")
or
globStatus("/gendata_19yrs_stoc/*")

[2016-12-13 02:03] djalova commented on #95
@robinnt Do you have any logs I can look at? We have tests in TestSwiftOperations.java that mimic your scenario and those are passing. Maybe there is another issue here.

[2016-12-13 17:16] robinnt commented on #95
Here is part of the log from calling globStatus until 404 Not Found is returned

2016-12-12 13:44:26,157 DEBUG [CommitterEvent Processor #1] com.ibm.stocator.fs.ObjectStoreFileSystem: Glob status: /gendata_19yrs_stoc/_DYN0.127403861618094193923682792174938877438/year=*/month=*

2016-12-12 13:44:26,159 DEBUG [CommitterEvent Processor #1] com.ibm.stocator.fs.common.ObjectStoreGlobber: Welcome to glo

[2016-12-13 20:08] robinnt commented on #95
[container_e09_1481248735958_0003_01_000001.txt](https://github.com/SparkTC/stocator/files/650004/container_e09_1481248735958_0003_01_000001.txt)

[2016-12-13 22:29] djalova commented on #95
@robinnt Does your query fail? I didn't see any exceptions thrown. The 404 error occurs because the ObjectStorefileSystem.listStatus() tries to look for objects that match the path exactly, and then when it fails it then decides to look for objects with that prefix. I can fix this behavior, but if you are running into any errors this isn't likely to be the cause. In the logs, the listing eventuall

[2016-12-14 00:02] robinnt commented on #95
That is correct there are no longer any exceptions thrown but the data is not committed into the correct location for the table so the table appears to be empty. This log is from a Big SQL LOAD command where the data is written to a temp directory (gendata_19yrs_stoc/_DYN0.127403861618094193923682792174938877438) until all map tasks are completed successfully and then the data is moved to the fina

[2016-12-14 00:37] djalova commented on #95
It seems in the logs there is a delete operation before the listing that causes an exception.
[code]

[2016-12-14 02:31] robinnt commented on #95
Yes after the globStatus returns an empty list the job tries to clean up and delete a _logs dir. This is expected. After the job ends the objects under the temp dir are still in swift so they were not deleted.

Seems when globStatus is called there should have been some messages with "Candidate accepted" showing the objects found but those messages are missing so something went wrong in the Object

[2016-12-14 22:04] djalova commented on #95
Are these files marked if they are successful (i.e. does gendata.../_SUCCESS exist)?

[2016-12-15 00:40] djalova commented on #104
@gilv This might be because we have a high retry count. What do you think?

[2016-12-15 01:11] robinnt commented on #95
The _SUCCESS file is not created by LOAD

[2016-12-15 01:41] djalova commented on #95
@gilv I think this is caused by this line https://github.com/SparkTC/stocator/blob/master/src/main/java/com/ibm/stocator/fs/swift/SwiftAPIClient.java#L502
From the logs, I can see that when glob() calls APIClient.list() the PaginationMap returns 4 objects, but none of them are returned back to glob. Since there isn't a _SUCCESS file the results in PaginationMap are ignored.

[2016-12-15 07:33] mynameisguy commented on #104
@djalova the network worked when we closed the app. it's in development environment so it is possible we had network issues for some time but not for all the few hours...

[2016-12-15 13:34] mynameisguy opened #110 "Creating container from 2 threads at once fails"
I have two threads trying to upload object to the same container (which doesn't exists).
once thread creates the container and the second one fails and throw exception:

[code]

important point:
**fs.swift2d.impl.disable.cache** is set to **true** which makes init run every time
might be related

[2016-12-15 13:56] gilv commented on #110
resolved in https://github.com/SparkTC/stocator/commit/aad1891904f4d444eae09da759689ac342980eb8

[2016-12-15 13:56] #110 closed

[2016-12-15 19:12] robinnt commented on #95
I reran the rest with log level set to ALL so the trace messages are shown. You can see it passes through the code noted above.
[container_e09_1481248735958_0007_01_000001.txt](https://github.com/SparkTC/stocator/files/655585/container_e09_1481248735958_0007_01_000001.txt)
above.

[2016-12-15 19:49] djalova commented on #95
The following lines show that APIClient.list() skips over the objects because _SUCCESS is missing.

[code]

We currently use this file to differentiate between complete and incomplete files. If it interferes with other operations we might need to find another way to do this. @gilv What do you suggest?

[2016-12-18 12:56] gilv opened #111 "rename support for sub-directories"
Current rename implementation works on the objects only.
We should extend it and support rename on the sub-directories, for example

container/a/b/c/data_1.txt
container/a/b/c/data_2.txt
container/a/b/c/data_3.txt
container/a/b/c/data_4.txt

And now we want to rename container/a/b/c to container/a/b/d. The implementation will need to handle

rename container/a/b/c/data_1.txt to container/a/b/d/dat

[2016-12-18 12:56] gilv commented on #111
@djalova can you please check it? thanks

[2016-12-19 23:26] djalova commented on #111
@gilv Do we want this to be the default behavior?

[2016-12-20 13:20] gilv commented on #111
@djalova Yes, for rename. It suppose to check first if the src is a sub-directory and then copy all what is listed under this sub-directory

[2016-12-21 19:02] djalova commented on #111
@gilv Should we enforce that object to rename ends with a "/" if the user wants to rename a directory?

[2017-01-03 10:18] gilv opened #112 "SwiftOutputStream doesn't throw exceptions"
Assume user doesn't has a write access to the container and he uploads a small object.
In this case write thread activates on close() and then exception is not thrown to the caller class at all.
We need to modify exception handler in SwiftOutputStream so that exception will be thrown from the thread to the caller method.

Example of the code to reproduce

	public class WritePermissionTest{

		priv

[2017-01-03 10:19] gilv commented on #112
@djalova can you check it please?

[2017-01-07 17:14] gilv opened #114 "Object names should be URL encoded and support spaces and other characters"
Stocator should allow to write / read objects that has spaces in the names.
For example

val data = Array(1, 2, 3, 4)
val distData = sc.parallelize(data)
distData.saveAsTextFile("swift2d://container.service/a b c.txt")

And also support read of objects that has spaces in their names

[2017-01-07 17:14] gilv commented on #114
@djalova Can you see it please?

[2017-01-18 19:29] gilv commented on #114
Resolved by @djalova

[2017-01-18 19:29] #114 closed

[2017-02-08 06:22] gilv opened #116 "FileSystem.getChecksum should return the checksum and not null"
The issues comes when using Stocator via FileSystem API directly.
For example, the following Java code upload an object

`FileSystem fs = null;
       String p = "swift2d://container.bmtest1/some.data";
       try {
        fs = FileSystem.get(URI.create(p), mConf);
       } catch ( IOException e) {
        e.printStackTrace();
       }
       try {
        FSDataOutputStream out =  fs.create(new

[2017-02-08 06:23] gilv commented on #116
@djalova Can you see it please? I guess the checksum is the hash returned by the object store, after the object was created with 201 status.

[2017-02-08 23:41] djalova commented on #116
@gilv Can I get a stack trace of this? I don't see an exception when I try to run the code above as a test.

[2017-02-09 04:33] gilv commented on #116
@djalova The code above doesn't produce any exception. But if you will run that code and then call fs.getChecksum() it will return null and not the real check sum of the object

[2017-02-09 21:45] djalova commented on #116
@gilv I'm not sure if this method is meant to be used that way. Calling fs.getChecksum() returns a ChecksumFile object. If we just want to retrieve the etag for a an object there might be a better way.

[2017-03-14 06:02] gilv opened #120 "ObjectStoreGlobber is not consistent with Globber"
We need to make sure that ObjectStoreGlobber return the same results as with Globber.
We noticed that sometimes hadoop fs -ls return different results when comparing between both.
ObjectStoreGlobber still need to preserve one GET request, however it response should match Globber

[2017-03-17 19:58] charles2588 opened #122 "Stocator throws error on count operation when reading .root file with 537 columns and 230 rows"
val dfData1 = spark.
read.format("org.dianahep.sparkroot").
option("tree", "Events").
option("inferSchema", "true").
load("swift://testobjectstorage." + name + "/test.root")
dfData1.count()

The reference example
https://github.com/diana-hep/spark-root/blob/master/ipynb/publicCMSMuonia_exampleAnalysis_wROOT.ipynb

Printschema works fine but count operation doesn't work.

Note the number of columns

[2017-03-17 21:36] djalova commented on #122
Hi @charles2588
This seems to be an issue with the configuration settings. You are missing the value for the fs.swift2d.service.SERVICE_NAME.auth.url configuration key.

[2017-03-17 22:33] charles2588 commented on #122
@djalova
I am able to read other files like .csv or .parquet with no issues.
Its specifically issue with .root files.

[2017-03-20 14:10] gilv commented on #122
@djalova Can you check it please?

[2017-03-20 22:26] djalova commented on #122
@charles2588 Are the configs set after Spark has started running or are they configured in the configuration files?

[2017-03-21 17:34] charles2588 commented on #122
@djalova

Yes , we set the config after Spark has started.
BTW, this is for Bluemix Spark Service + Data Science Experience Jupyter Notebook.
from pyspark.sql import SparkSession

# @hidden_cell
# This function is used to setup the access of Spark to your Object Storage. The definition contains your credentials.
# You might want to remove those credentials before you share your notebook.
def set_h

[2017-03-21 18:32] djalova commented on #122
@charles2588 I think this is an issue with the root4j package. For some operations it uses the same Configuration instance as the one found in Spark. But in other cases it creates a new Configuration, so it loses the configs in set in Spark.
Here's an example of when it creates a new instance:
https://github.com/diana-hep/root4j/blob/master/src/main/java/org/dianahep/root4j/RootFileReader.java#L17

[2017-03-21 19:54] superdude264 commented on #122
Given root4j is creating a new Hadoop config, I think the issue of why I couldn't read from Object Storage has been resolved from stocator's point of view.  I have created an issue w/ root4j and will follow-up with them.  Thanks for looking into this.

[2017-03-21 19:58] charles2588 commented on #122
thanks @djalova for looking into this. thanks @superdude264 i will close this.

[2017-03-21 19:58] #122 closed

[2017-03-21 20:36] airbots opened #123 "Issue with SwiftOutputStream exhaust http pool"
Current stocator code may cause http client exhaust http pool corresponding job hanging if there are highly concurrent small writes. We need to close each response after it is not used. We know that JVM GC will do it for users, however, if the requests is coming much faster than GC recycle period, job hanging happens.

[2017-04-09 06:28] gilv opened #126 "Refactor cache logic"
We need refactor cache logic and it should land into master branch
@djalova can you handle it please? Thanks

[2017-04-13 14:29] gilv commented on #123
@airbots thanks. interesting observation. do you have suggestion how to fix this in Stocator?

[2017-05-02 18:26] kelviolet opened #130 "Stocator reports 400 unknow error"
Command exception, HTTP Status code: 400 => UNKNOWN
	at org.javaswift.joss.command.impl.core.httpstatus.HttpStatusChecker.verifyCode(HttpStatusChecker.java:45)
	at org.javaswift.joss.command.impl.core.AbstractCommand.call(AbstractCommand.java:50)
	at org.javaswift.joss.command.impl.core.AbstractSecureCommand.call(AbstractSecureCommand.java:31)
	at org.javaswift.joss.client.core.AbstractStoredObjec

[2017-05-02 18:52] djalova commented on #130
Hi @kelviolet ,
Can I get more information about what you were trying to do?

[2017-05-03 05:45] gilv commented on #25
@djalova I am getting complaints that it's not working anymore. To reproduce it - you need a public container with some objects. Then use Spark with
val d  = sc.binaryFiles('swift2d://dal.objectstorage.open.softlayer.com/v1/AUTH_<ID>/somedata/*', minPartitions=20)

Getting

Py4JJavaError: An error occurred while calling o31.binaryFiles.
: java.lang.NullPointerException
	at com.ibm.stocator.fs.swif

[2017-06-09 22:21] charles2588 opened #133 "stocator connector does not watch for new files in Object Storage when doing spark streaming using textFileStream API"
Reproduction steps:-
 Create a notebook on IBM DSX with object storage configuration code and
below code to stream from container container1.

val ssc = new StreamingContext( sc, Seconds(30) )
val lines = ssc.textFileStream("swift2d://container1." + name + "/*")
val words = lines.flatMap(_.split(" "))
val wordCounts = words.map(x => (x, 1)).reduceByKey(_ + _)
wordCounts.print()
ssc.start()

Accord

[2017-06-10 02:49] gilv commented on #133
@charles2588 @djalova not sure i understand. Spark does list and then by itself identify "new" files that were added to the bucket. Spark doesn't perform list based on timestamp, since this functionality doesn't supported by object stores.
If the request is to list files - then Stocator will list them as is

[2017-06-21 06:45] gilv commented on #133
fixed by @djalova

[2017-06-21 06:47] gilv commented on #130
closed due to inactivity

[2017-06-21 06:47] #130 closed

[2017-06-21 06:48] #36 closed

[2017-06-21 06:48] gilv commented on #25
Resolved.

[2017-06-21 06:53] #104 closed

[2017-06-21 06:55] gilv commented on #52
resolved

[2017-06-21 06:55] #52 closed

[2017-06-21 17:53] djalova commented on #133
I think this might still be an issue. Spark seems to check if a path given is a directory when using `textFileStream`. When the root path is given, Stocator doesn't return a `FileStatus` for it so it can't accept the root path as a directory.

[2017-06-27 08:02] RayOsLei opened #136 "how to benchmark stocator？Can Spark-bench support stocator benchmark？"
my spark-bench env.sh is:

[code]

i have update `cat ./spark-bench/Terasort/bin/gen_data.sh`

[code]

i add the stocator jar package `STOJAR` in the spark submit env.

then i excute the `./spark-bench/Terasort/bin/gen_data.sh` ,I got the following error:

[code]

[2017-06-27 09:09] gilv commented on #136
@RayOsLei You need to configure core-sites.xml of Spark. See the documentation on the Stocator readme.md

[2017-06-27 09:18] RayOsLei commented on #136
OK ，I have confirmed that by configuring core-site.xml, and successfully accessed swift,my `core-site.xml` is ：

[code]

But still the above problems @gilv

[2017-06-27 09:31] gilv commented on #136
@RayOsLei ״No FileSystem for scheme: swift2d״ means it didn't find configuration, the right core-sites.xml. Alternatively you don't have stocator jar in the class path. You can add stocator jar via spark-packages

[2017-06-27 09:32] gilv commented on #136
@RayOsLei if you open spark, then you do have access to stocator? ( via swift2d:// )

[2017-06-27 09:49] RayOsLei commented on #136
i can confirm it's ok:

[code]

[2017-06-27 09:51] gilv commented on #136
@RayOsLei can you do please one more try with spark-bench, make logs in DEBUG and see what is printed?

[2017-06-27 09:53] gilv commented on #136
@RayOsLei check your execution script..seems it uses also additional jars. It's clearly something in the script : make mess with class path and it doesn't find stocator jar  - or it overwrite / uses another core-sites.xml

[2017-06-27 10:20] RayOsLei commented on #136
According to your suggestion, I re-added the jar pack to the classpath, it was successfully executed, but in the end it was still throwing a mistake here:

`test: No FileSystem for scheme: swift2d`

[code]

Why does it throw this error?

`test: No FileSystem for scheme: swift2d`

[2017-06-27 10:44] gilv commented on #136
@RayOsLei interesting..so the script executed and it prints this message? What component prints it? it certainly in the level above stocator

[2017-06-27 11:06] RayOsLei commented on #136
The problem is likely to appear here,`HDFS_URL = "swift2d: //spark-bench.ostorage"`,which located in the `spark-bench env`.

because the current pach  for hdfs visit swift where` fs.swift.impl` value is swift: // instead of swift2d: // , it does not recognize schema `swift2d`, so this has become a bug for spark-bench benchmark stocator  .in short, thanks for your help @gilv

[2017-06-27 11:10] gilv commented on #136
@RayOsLei can you bypass it if you point fs.swift.impl to the same class you point fs.swift2d.impl ?

[2017-06-27 12:33] RayOsLei commented on #136
@gilv ， i have replaced `fs.swift.impl `with `fs.swift2d.impl`, the above error is gone，but then i
execute `hadoop fs -ls swift2d://stocator.ostorage/`  ，I encountered such a mistake ：

[code]

In fact swift has created this container:

[code]

How to deal with this problem?

[2017-06-27 12:37] gilv commented on #136
@RayOsLei stocator is not targets hadoop shell operations. In any case, without relation to Stocator, better use swift cli tool instead of those hadoop fs

[2017-06-27 12:37] RayOsLei commented on #136
@gilv ，here is the debug info for above：

[code]
interesting...It seems to be successful, but it is wrong at the end

[2017-06-27 12:42] RayOsLei commented on #136
@gilv ，I just went to verify the stocator implementation of the Hadoop FileSystem interface

[2017-06-27 22:08] gilv opened #137 "Missing class when used with Spark 1.6 and Hadoop 2.6"
We need to add maven profile for builds with Hadoop 2.6 and include guava-21.0.jar for those builds.
Otherwise

`Exception in thread "main" java.lang.NoClassDefFoundError: com.google.common.util.concurrent.ListeningExecutorService
        at java.lang.J9VMInternals.prepareClassImpl(Native Method)
        at java.lang.J9VMInternals.prepare(J9VMInternals.java:291)
        at java.lang.Class.getConst

[2017-06-27 22:11] gilv commented on #136
@RayOsLei for cli commands better use swift cli and not hadoop fs shell. Stocator focuses on the analytic flow and doesn't support all hadoop fs shell commands

[2017-06-28 04:09] RayOsLei commented on #136
@gilv ,OK,I know what you mean，thanks

[2017-06-29 11:50] gilv commented on #133
@djalova can we close the issue?

[2017-06-30 01:02] djalova commented on #133
@gilv I think it can be closed now

[2017-06-30 03:33] #133 closed

[2017-06-30 22:46] airbots commented on #123
Sure, I can submit a path this week. Thanks.

[2017-07-06 18:43] airbots commented on #123
Sorry about the late update, pull request is here: https://github.com/SparkTC/stocator/pull/138

[2017-07-10 08:01] apyasic opened #139 "Special characters support in container and service name"
For example, given the following URI "swift2d://TimeRollingPolicy Test.Object Storage-7i/"  (percent-encoded version "swift2d://TimeRollingPolicy%20Test.Object%20Storage-7i/")
Stocator should be able to create container "TimeRollingPolicy Test" (space between policy and test) using service "Object Storage-7i" (space between Object and Storage).

It is required to define clear policy regarding URI

[2017-07-10 08:10] apyasic commented on #139
Here are some findings that might be helpful:
1. [ObjectStoreFileSystem](https://github.com/SparkTC/stocator/blob/master/src/main/java/com/ibm/stocator/fs/ObjectStoreFileSystem.java).initialize method contains the following URI initialization logic:
uri = URI.create(fsuri.getScheme() + "://" + fsuri.getAuthority());
fs.getAuthority() method performs URI authority decoding which causes to exception

[2017-07-10 08:53] gilv commented on #139
@apyasic is this for container or object names? Do you have issues also with object names?

[2017-07-10 14:39] apyasic commented on #139
@gilv special characters in object names working properly. Issue title is updated accordingly.

[2017-07-10 18:41] gilv commented on #139
@djalova Do you think we can support special characters in container name? As far as i remember in Hadoop it suppose to be container.<service> and the "." is the separation.

[2017-07-10 20:36] djalova commented on #137
@gilv Can you send me a pom file with those dependencies?

[2017-07-11 00:50] djalova commented on #139
@gilv I'm currently looking into this. I think it should be possible.

[2017-07-13 05:07] apyasic commented on #139
@djalova thank you! please note, that special characters support is also required for the service name, as bluemix default service name convention for swift is "Object Storage-<suffix>".

[2017-07-13 05:16] gilv commented on #139
@apyasic Can you please checkout the PR from @djalova and that it is working as you expect?

[2017-07-13 07:22] gilv commented on #139
@apyasic @djalova  We don't need to support special characters in service names. The service name in Bluemix and in Stocator are two different things. They are not related one to another.

I agree we can support special characters in container names, object names. Object names we already support

[2017-08-29 17:45] steveloughran opened #144 "SwiftTestUtils.java lacks ASF copyright header"
[SwiftTestUtils](https://github.com/SparkTC/stocator/blob/master/src/test/java/com/ibm/stocator/fs/swift2d/systemtests/SwiftTestUtils.java) is clearly based on Hadoop's [Contract Test Utils](https://github.com/apache/hadoop/blob/trunk/hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/fs/contract/ContractTestUtils.java). This is particularly obvious to those of us who helped write

[2017-08-29 19:41] gilv commented on #144
@steveloughran thanks for pointing this.

[2017-08-29 19:41] #144 closed

[2017-08-29 20:27] #28 closed

[2017-08-29 20:28] #102 closed

[2017-08-29 20:29] #53 closed

[2017-08-29 20:30] #51 closed

[2017-09-18 12:16] gilv opened #147 "[cos connector] - using endpoint url in the service name"
Current state: Stocator uses schema cos://bucket.<service>/object(s). If custom endpoint need to be set, then key fs.cos.<service>.endpoint need to contain the value of the new endpoint.

Proposed change: We would like to extend Stocator to support also path style access:
cos://endpoint/bucket/object(s)

This will avoid need to setup endpoint in the configuration key.
Moreover, we also need Stocat

[2017-09-26 09:41] gilv opened #149 "Trace prints in ObjectStoreGlobber may cause NullPointerException"
The following line may case NPE

LOG.trace("No globber pattern. Candidate {}", candidate.getPath().toString());

The exception:

An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: java.lang.NullPointerException
	at com.ibm.stocator.fs.common.ObjectStoreGlobber.glob(ObjectStoreGlobber.java:177)
	at com.ibm.stocator.fs.ObjectStoreFileSystem.globStatus(ObjectSt

[2017-10-29 10:35] gilv commented on #149
Fixed in https://github.com/SparkTC/stocator/commit/c219afbba4674d5d75c5dacf932ead33968c33da

[2017-10-29 10:35] #149 closed

[2017-11-13 12:17] gilv opened #152 "[COS] - IAM token provided via fs.cos.<service>.iam.token is not updated"
In certain cases, Spark may cache Stocator instance and will not trigger Stocator init method. Current code reads fs.cos.myCos.iam.api.token  in the Stocator init method.

For example, consider the following Spark flow:
fs.cos.myCos.iam.api.token = abc
call cos://mybucket.myCOS/mydata.txt
fs.cos.myCos.iam.api.token = def
call cos://mybucket.myCOS/mydata.txt

In this case, Spark will cache cos://my

[2017-11-30 11:25] #120 closed

[2018-01-03 15:17] guyGerson opened #164 "handeling of empty files"
when reading an empty file, its meta data is completely replaced. e.g. modification time is 0 instead of the actual value.

[2018-01-22 03:20] lresende opened #167 "Validate license check report"
While performing a routine rat run on the project
[code]

See report results
[code]

Note that some of these might be valid, but wanted to raise this for proper validation

[2018-01-22 04:05] gilv commented on #167
@lresende thanks. Will handle it.

[2018-03-02 23:15] kocolosk opened #171 "Unable to retrieve objects with "+" in the key"
I am trying to use Stocator to read a number of objects created by Kafka Connect, which is configured to output object names like

cos://<bucket>.<service>/topics/<topicname>/year=<YYYY>/month=<MM>/day=<DD>/hour=<HH>/<topic>+<partition>+<integer>.json

When I tried to read these the listing globber seems to treat the "+" as " " and fails to read the resulting object:

[code]

If I request this obj

[2018-03-02 23:20] kocolosk commented on #171
Oooh, and if I try `cos://<...>.us-geo/topics/cloudant-access-logs/year=2018/month=03/day=01/` as an input path I can generate an NPE on the globber:

[code]

[2018-03-04 07:52] gilv commented on #171
@kocolosk There are couple of recent issues that were discovered with the Globber that is being used by Stocator. I am in process of  fixing it. The new logic will allow to use any regular expression to retrieve objects, as well handle all those special names with characters, like "+", etc.

[2018-03-06 01:52] kocolosk commented on #171
OK good to hear.

[2018-03-11 13:58] gilv commented on #152
resolved

[2018-03-11 13:58] #152 closed

[2018-03-11 13:59] #78 closed

[2018-03-22 04:32] gilv commented on #95
Issue resolved with the introduction of the new object store globber

[2018-03-22 04:32] #95 closed

[2018-03-22 04:33] #136 closed

[2018-03-22 04:34] #139 closed

[2018-04-09 14:45] cjolif opened #182 "rename with COS"
We are using IBM Cloud Object Storage. We were using it with S3 compatibility layer and we switched to using Stocator with COS as it sounded a good idea to be as close as possible to the underlying Object Storage. Things were "ok" until we realized we were facing issues in some cases and we discovered this was because COS client is not implementing rename (always return false).

Is there a short t

[2018-04-09 16:11] cjolif commented on #182
Ok thanks for the feedback.

I guess as it was provided in the Swift client it could have made sense to get parity with the COS one but if you are not going to provide it we will look into alternate path.

[2018-04-09 16:40] gilv commented on #182
@cjolif there was no rename in Stocator for Swift.. why you need rename, by the way?

[2018-04-09 18:05] cjolif commented on #182
@gilv I never used Swift version but I saw: https://github.com/CODAIT/stocator/blob/master/src/main/java/com/ibm/stocator/fs/swift/SwiftAPIClient.java#L873. That's why I thought it was supported.

I'm not using rename directly but through a library that is using it.

[2018-04-13 13:53] gilv commented on #182
@cjolif it was very limited supported rename, that was not used as far as i know. I also think it only made possible to rename single object. The whole point of Stocator is to avoid rename flows for analytic originated scenarios. It would be good to understand what kind of rename you expect? Rename of objects? Rename of directories? Does your client need rename of temporary written objects?

[2018-04-15 11:12] gilv commented on #137
not sure we need this at this point. seems resolved

[2018-04-15 11:12] #137 closed

[2018-04-15 11:12] #167 closed

[2018-04-16 07:44] gilv opened #184 "[COS] - Explore multiple objects delete"
COS SDK has method deleteObjects(), that allows multiple objects delete. We need to explore if this can fit into delete flows instead of looping over objects and delete one by one

[2018-04-16 18:52] minbaev opened #185 "Fail to read parquet data"
We have data stored on COS serialized into parquet. We are reading  it hourly using the following method:

[code]

From times to times it is throwing the following error

[code]

Could you please have a look at the possible solution for the issue?
Thank you

[2018-04-17 03:40] gilv commented on #185
@minbaev thank you for reporting this. If i understand correctly then it fails on random basis, sometimes working and sometimes not, right? Do you know what Stocator version you are using?

From the exception it looks like it comes from Amazon SDK that received data of length it didn't expected. I suggest you to look over web as well and see if users reported similar issues with Amazon SDK.
Did yo

[2018-04-17 20:51] minbaev commented on #185
@gilv thank you for your response. the basis for failure seems random, that's right.
As we are running spark jobs on the Analytics Engine, We are not providing Stocator jar directly, we are using the version IBM Analytics Engine has configured.

The actual data length is always smaller than expected so I tend to believe it might be that input stream

Researching online suggests to specify the file

[2018-04-22 09:16] gilv opened #189 "Extend unitests for ObjectStoreGlobber"
We need to write a unitest based on PowerMock and Mokito to cover ObjectStoreGlobber

[2018-04-23 11:06] RoeeShlomo opened #190 "Spark append-mode throws FileAlreadyExistsException"
https://github.com/CODAIT/stocator/commit/35d7818c5dd0e3f2ea13d4bc3338aaa14c3bff31 introduced a bug in append mode. When writing in append mode the operation always fails with FileAlreadyExistsException:
[code]

Steps to reproduce:
[code]

[2018-05-09 06:46] gilv commented on #190
This is already resolved in the master branch. Fix will be released with 1.0.20

[2018-05-09 06:46] #190 closed

[2018-06-20 21:27] charles2588 opened #197 "Cannot use append mode when writing spark dataframe on Watson Studio"
Write the file once
[code]
First append mode write is successful.
and then
#Lets write again in append mode and it fails
[code]

Py4JJavaError: An error occurred while calling o161.save.
: org.apache.hadoop.fs.FileAlreadyExistsException: mkdir on existing directory cos://catalogdsxreproduce4a77ab6a4f2f47b3b6bedc7174a64c4a.os_a9bbfb9f99684afe9ec11076b75f1831_configs/TESTAPPEND/CARS
	at com.ibm.stoc

[2018-06-21 05:57] gilv commented on #197
@charles2588 thanks for reporting this. In general append + object storage is usually a bad idea, no matter which connector you use. I will review the issue you observed to better understand the root cause and to propose the best solution to resolve it.

[2018-07-23 07:42] #182 closed

[2018-07-23 07:42] #126 closed

[2018-07-23 07:43] #111 closed

[2018-08-07 10:29] gilv commented on #123
@Fokko is this relevant to what you observed?

[2018-08-08 08:05] Fokko commented on #123
Hi @gilv This looks different. We don't see any signs of exhaustion. We're not super sure if it Stocator or Spark itself, this is what we're figuring out now.

[2018-08-09 21:26] dkazakevich opened #200 "Spark 2.3 app in k8s cluster: parquet->COS throws exception"
Created a sample Spark 2.3 application that runs in k8s cluster. The application creates a sample Dataset and trying to put it into Bluemix COS using stocator:
[code]

But I'm getting exception:
[code]

Writing the same data to COS json file works fine:
[code]

[2018-08-11 05:27] gilv commented on #200
@dkazakevich thanks. A bit strange, are you sure the same code works for CSV and fails for Parquet? The exception in the log is  "Could not initialize class sun.security.ssl.SSLSessionImpl", which is related SSL and has nothing to do to Stocator.
What stocator version (and a branch) you are using?

[2018-08-12 05:12] gilv commented on #200
@dkazakevich a short update; I tested your code on Spark 2.3 and the same code works perfectly for me. So i need more details ( see my previous msg ) in order to proceed with it

[2018-08-13 06:29] dkazakevich commented on #200
@gilv Thank you for response. It works for JSON, but failed for parquet. I haven’t check fo CSV, will try it tomorrow.
I tried 1.0.21-ibm-sdk, 1.0.22-ibm-sdk and 1.0.23-Snapshot-ibm-sdk branches.
Also this works for spark client/local mode, but failed for claster mode with master and executor(s).

[2018-08-13 07:43] gilv commented on #200
@dkazakevich I want to be sure i understand correctly.  Is the following correct?

- Your code works both for JSON and Parquet when you use local Spark cluster.
- Your code fails to work with Parquet over bluemix k8s. The exception is "Could not initialize class sun.security.ssl.SSLSessionImpl"
- Your code works with JSON over bluemix k8s

[2018-08-13 15:32] bahdzevich commented on #200
@gilv, yes, you are correct. I have the same behavior:

- also works fine using local Spark cluster

- the same exception using either `minikube` or `bluemix`:
`Caused by: java.io.IOException: saving output test-json-rnd-values/part-00001-67f2343b-5c52-43c1-8266-9c1d617aeb50-c000-attempt_20180813152227_0000_m_000001_3.snappy.parquet com.ibm.stocator.thirdparty.cos.AmazonClientException: Unable to

[2018-08-13 17:02] gilv commented on #200
@dkazakevich thanks. what JDK version you are using? I also wonder, what is the value of "fs.cos.service.endpoint" ?

[2018-08-13 20:30] dkazakevich commented on #200
@gilv We are using JDK 1.8.0_172
fs.cos.service.endpoint=s3-api.dal-us-geo.objectstorage.softlayer.net

[2018-08-14 08:25] paul-carron commented on #200
@dkazakevich have you installed or do you need to install a cert on Kubernetes?

[2018-08-14 17:38] gilv commented on #200
@dkazakevich can you read some existing Parquet file from COS on this cluster?

[2018-08-15 09:48] dkazakevich commented on #200
@gilv reading Parquet file from COS and writing it back into COS works fine.

[2018-08-15 11:06] gilv commented on #200
@dkazakevich so all is working, except when you create 2 records size Parquet file in  Spark and write it into COS? This sounds a bit strange..

[2018-08-15 11:51] dkazakevich commented on #200
@gilv Initially we faced with the problem in process of reading data from DB2 and writing into COS. The `2 records size` example is a simplified version that reproduce the same problem like we have with DB2 source.
I think that the scala shell example runs spark job in local/client mode that executes jobs using one master (one node). As I described above we also don't have problems in spark local/

[2018-08-15 12:59] gilv commented on #200
@dkazakevich you can connect spark-shell to the exiting cluster, by using --master spark://master_host:master_port

[2018-08-15 16:18] dkazakevich commented on #200
@gilv Because we don't have k8s spark cluster with running master and executors (that necessary for spark-shell), and uses spark-submit tool that automatically creates master and indicated number of executors for a spark job (feature of spark 2.3 for k8s), is it ok to create a scala application, generate a .jar file for the spark-submit and run it for the above experiment?

[2018-08-15 16:36] gilv commented on #200
@dkazakevich I think it's the same to create jar with scala and use spark-submit

[2018-08-16 14:54] dkazakevich commented on #200
@gilv Tried the experiment and got the same exception:
[code]
Also FYI: I'm not sure that it could be the problem reason, but I tried to load data from some DB2 databases and write parquet into COS and found out that:
- if a DB available through SSL connection the writing into COS works fine
- if a DB available without SSL it generates the exception.

[2018-08-16 16:00] gilv commented on #200
@dkazakevich if you can't write a simple Parquet with this Scala example, then it's not related DB2 i guess.. and the exception you getting is related an SSL connection.. but you can read from COS, write JSON without hitting SSL issues..

[2018-08-16 16:13] gilv commented on #200
@dkazakevich please open also a ticket on IBM Bluemix Support - ServiceNow. You can link them this issue that you opened against Stocator

[2018-08-17 12:51] paul-carron commented on #200
@dkazakevich At the don't believe this is be an issue with the Java SDK as I’m unable to recreate it in a stand alone or cluster environment. My hunch at the minute is that its some sort of cert issue between Spark and Kubernetes although you haven’t installed certs on their minicube cluster. Unfortunately I’m not familiar with Kubernetes so don’t know what might be required. It might be worth hav

[2018-08-22 11:22] #189 closed, assigned to nobody

[2018-09-20 10:00] martijnnanne opened #202 "Throughput issues"
Hortonworks, stocator, swift and throughput issues

We are facing an issue in the combination of stocator, spark, hortonworks and the swift object store. We are not able to get the maximum throughput on all our machines when loading a large file from the swift object store into hdfs in a spark session.

**Some context:**

Hortonworks data platform version: 2.6
Spark version: 2.2
Stocator version:

[2018-10-03 07:41] martijnmobpro commented on #202
We finally found a solution to this problem. It turned out that hdp (installed with Ambari) used jdk1.8.0_112 and caused these issues. After (manually) setting JAVA_HOME in ambari to version 1.8.0_181 the issues were resolved.

I am not sure if Stocator has an issue with this version of java, might be interesting to look in to.

However, this issue can be closed.

[2018-10-03 07:49] gilv commented on #202
@martijnmobpro thanks... i suspected this doesn't related Stocator, but still was checking. I am glad it's resolved now. Stocator depends on all kind of libraries, like HTTPClient, perhaps the issues comes from there with this particular Java version.
Thanks for the information

[2018-10-03 07:49] #202 closed

[2018-10-16 14:53] tsnee opened #203 "ObjectStoreFileSystem caches credentials, endpoints"
My reading of stocator/src/main/java/com/ibm/stocator/fs/ObjectStoreFileSystem.java is that its _initialize_ method only instantiates an IStoreClient the first time it is called. If _initialize_ is called a second time with a different endpoint and credentials, those settings are ignored.

This caused a problem for me during development because I needed to try several calls before I found the righ

[2018-10-16 15:16] gilv commented on #203
@tsnee This is not something that was invented in Stocator, but used by Hadoop eco-system, for example in hadoop-openstack project. The idea that you may have different endpoints and object storage instances, local, cloud, etc.
About initialize - Spark caches connectors on init. As Stocator was developed mainly for Spark the behavior of one time init - is exactly what is needed, otherwise it will

[2018-11-15 11:39] #103 closed

[2018-11-18 07:24] #123 closed

[2018-11-18 07:24] #116 closed

[2018-11-18 07:24] #26 closed

[2018-11-18 07:25] #185 closed

[2018-11-18 07:25] #99 closed

[2018-11-18 07:26] #200 closed

[2018-11-18 07:26] #203 closed

[2018-11-18 16:37] Fokko commented on #123
I'm sorry for not getting back @gilv. I don't think this is relevant to what we've seen. Right now, we decided to leave it for now. Will open a new issue when we have new insights.

[2018-12-03 23:47] szeitlin commented on #30
thank you, this helped me!

[2019-01-07 16:58] rvjain89 opened #205 "writestream to IBM COS fails, but readstream and read/write operations work fine."
I am currently using Apache Spark 2.3.2 and creating a pipeline to read stream csv files from a file system and then write stream it to IBM Cloud object storage.

I am using Stocator connector for this. The regular read and writes to IBM COS is working fine with the below configuration. But , the read and write stream operations are throwing error as:

com.ibm.stocator.fs.common.exception.Configur

[2019-01-08 08:35] gilv commented on #205
@rvjain89 I will check this.

is this correct scenario to reproduce the issue?

     val csvDF = spark.readStream.option("sep",  ",").schema(fschema)
               .csv("C:\\Users\\abc\\Desktop\\stream")

    val query = csvDF.writeStream.outputMode(OutputMode.Append())
             .format("csv")
             .option("checkpointLocation", "cos://stream-csv.Cloud Object Storage-POCDL/")

[2019-01-08 08:55] rvjain89 commented on #205
@gilv  : thanks for looking into this.
For the readStream operation, I use the path of  Cloud Object Storage as below :
`val csvDF = spark.readStream.option("sep",  ",").schema(fschema)
           .csv("cos://stream-bucket.Cloud Object Storage-POCDL/")`
this works absolutely fine when connecting to IBM Cloud Object Storage for readStream but writeStream throws an error as mentioned above.

[2019-01-09 11:03] rvjain89 commented on #205
@gilv  : As part of the writeStream operation, I see in the logs that it tried to create a folder '_spark_metadata' to manage the metadata. I can find the below line in the logs :
`WARN FileStreamSinkLog: Could not use FileContext API for managing metadata log files at path cos://stream-csv.Cloud%20Object%20Storage-POCDL/_spark_metadata. Using FileSystem API instead for managing log files. The log

[2019-01-09 11:09] gilv commented on #205
@rvjain89 this warning is less relavant, it simply says that object storage is used for metadata log files.
So you tried to use subfolder "/abc/" and it still fails, is this correct?

[2019-01-09 12:10] rvjain89 commented on #205
@gilv : Yes. Irrespective of using a subfolder or not, it fails with
`19/01/09 13:08:33 ERROR ObjectStoreVisitor: Configuration parse exception: Access KEY is empty. Please provide valid access key`

[2019-01-11 14:02] rvjain89 commented on #205
Thank you @gilv for your response . I am sharing the complete code here. I tried executing this code both on Intellij and the console. Still I get the same error.

`import org.apache.hadoop.conf.Configuration
import org.apache.hadoop.fs.FileSystem
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.{SQLContext, SaveMode, SparkSession}
import org.apache.spark.sql.streaming

[2019-01-11 17:35] rvjain89 commented on #205
@gilv:
Yes. It has spaces in it.

[2019-01-11 17:38] gilv commented on #205
@rvjain89 and I assume you have a bucket "stream-csv" in that region, right?
Did you tried to experiment with it when service name doesn't has special characters? Can you try please"CloudObjectStoragePOCDL" just to be sure it's not a Stocator bug when service name has spaces, etc?

[2019-01-14 07:13] gilv commented on #205
@rvjain89 I reproduced it.. here is some interesting log entry:
when you read stream then Spark initiate Stocator with

     TRACE ObjectStoreFileSystem: Initialize for cos://gilvstream.Cloud%20Object%20Storage-POCDL/

however when you write stream, then Spark initiate Stocator wih

    TRACE ObjectStoreFileSystem: Initialize for cos://gilvdata.Cloud%2520Object%2520Storage-POCDL//_spark_metadata

[2019-01-15 15:07] rvjain89 commented on #205
@gilv  : Apologies for the delay in response.
Thank you so much for your investigation.
I did not get a chance yet to try the object name without spaces. Will do it today and get back to you with the results.
Thanks again !!!

[2019-01-16 12:46] dkazakevich opened #206 "Seems like stocator caches the previous failed read object status"
Sometimes in process of writing data into COS using Stocator, Spark job could down and we have a broken COS object (created only empty object without _SUCCESS and data parts) and on the following step reading this object throw the "_org.apache.spark.sql.AnalysisException: Unable to infer schema for Parquet. It must be specified manually_" exception.
We also have this object backup. So in process o

[2019-01-16 13:21] gilv commented on #206
@dkazakevich interesting...in general this violate the way Spark suppose to work. If you use Spark to access object 'foo' then it's not supposed to be modified in object storage, since Spark already created DAG and all is cached.
But i understand your flow... I wonder if the right way to resolve this is to delete on failure flag to be true...this way, you use Spark to access broken object, no _SUC

[2019-01-22 10:01] dkazakevich opened #207 "AmazonClientException: Unable to complete transfer: Connection pool shut down"
We have a spark job that loads a list of datasets from db2 into COS that runs every day.
`df.write.mode(SaveMode.Overwrite).format("parquet").save("cos://staging.dev/snapshots/temp/dataset/parquet")`
It works fine with small datasets, but for the big ones (about 30GB) it throws AmazonClientException:
[code]

[2019-04-28 06:42] gilv opened #208 "Verify release script"
I noticed the following Warning message while running release script:

[INFO] Not removing release POMs
[INFO] Checking in modified POMs...
[INFO] Executing: /bin/sh -c cd /Users/me/stocator && git add -- pom.xml
[INFO] Working directory: /Users/me/stocator
[INFO] Executing: /bin/sh -c cd /Users/me/stocator && git rev-parse --show-toplevel
[INFO] Working directory: /Users/me/stocator
[INFO] Execut

[2019-04-28 06:42] gilv commented on #208
@lresende can you please see if everything works as expected? Thanks

[2019-04-29 17:38] lresende commented on #208
Are these outputs from the release script in master? I don't recognize some of the commands above from the original script.

[2019-04-29 18:18] gilv commented on #208
@lresende yeap...i run ./create-release.sh --releaseVersion="1.0.32" --developmentVersion="1.0.33-SNAPSHOT" and got those prints.

[2019-05-23 11:27] ScrapCodes opened #209 "Exception thrown while writing using stocator."
On executing the following command with the latest version of stocator(9c1c6932018e96725ed833d93647095261ed894e) and Spark (master version) running with --master local[60],

[code]

After completing a X number of tasks, following error pops up. It seems to be from stocator. X varies from 400 to 3500.

[code]

[2019-05-23 11:34] gilv commented on #209
@ScrapCodes thanks for reporting this. Checking what is wrong.

[2019-05-23 11:36] gilv commented on #209
@ScrapCodes I wonder why exception comes out of Java itself.
Caused by: java.lang.ClassCastException: java.util.HashMap$Node cannot be cast to java.util.HashMap$TreeNode

what is JDK version being used?

[2019-05-23 11:39] ScrapCodes commented on #209
After reducing the thread count from 60 to 16, the problem is so far not observed (45k tasks completed and still ticking).
JDK version: javac 1.8.0_212
on centos 7.

[2019-05-23 13:52] gilv commented on #209
@ScrapCodes interesting..will try to reproduce this issue. thanks

[2019-06-10 09:30] mariobriggs opened #210 "Stocator should create folder names with a trailing '/'"
I am using Stocator via Spark to write a dataframe to IBM COS

[code]

in the above call, stocator creates the folder 'call_center' in IBM COS. However stocator does not create the folder name with a trailing '/' and as a result this messes up reading of these IBM COS folders when using other tools like Alluxio, CyberDuck etc.

Below is an example of the CyberDuck UI. Notice the folder 'call_cente

[2019-06-12 09:42] gilv commented on #210
@mariobriggs I will handle this. Thanks

[2019-06-26 06:16] michaelaltar commented on #209
Same problem reproduced.
Submit pull request https://github.com/CODAIT/stocator/pull/212

[2019-06-27 20:29] #209 closed

[2019-06-28 09:44] Dewsmen commented on #207
Hi, I have the same issue, some additional details and (probably) workaround:
1. The same code works if I use "csv" instead of "parquet"
2. There is no exception if disable SSL connection to COS: `fs.cos.connection.ssl.enabled=false`.
I hope it gives you some clue.

[2019-08-15 17:09] kozchris commented on #210
This issue is also breaking our Apache Spark reads of part files. The Apache Spark writes of the part files are creating a 0 byte directory file with no trailing slash. When we add the ending slash to the directory file that gets created the reads work again.

[2019-08-15 17:10] kozchris commented on #210
@gilv how is the progress coming on a fix?

[2019-08-15 17:23] rpatel17 commented on #210
I am also seeing this as a problem in our project. Thanks @gilv for looking into it.

[2019-08-16 09:39] dpittner opened #215 "Incorrect encoding specified for listing objects in ibm-sdk-1-34"
request.withEncodingType("UTF-8"); is incorrect

[2019-08-17 04:11] gilv commented on #215
@dpittner @cmuchinsky we had this utf-8 because of this https://github.com/CODAIT/stocator/issues/171
So I assume its not needed anymore?

[2019-08-17 04:53] cmuchinsky commented on #215
@gilv setting the encoding type is still needed to fix the `+` in key issue, however the value `UTF-8` is no longer valid, the server now requires it to be set to `url`, whereas in the past setting it to anything was valid.

[2019-08-21 06:57] #215 closed

[2019-09-04 23:28] miramar-labs opened #217 "Timeout waiting for connection pool"
I have a K8s pod doing some Spark Structured Streaming, taking a topic from Kafka (with a very large number of rows .. ~160 million), converting to parquet and using Stocator to write the compressed parquet to an IBM COS bucket.

I'm seeing this: (redacted)

Caused by: java.io.IOException: saving output XXX-1567049789.yyy/part-00002-4197b223-faed-4591-9343-fda2747c3714-c000-attempt_20190904214504_

[2019-09-08 19:18] miramar-labs commented on #217
increasing fs.cos.connection.maximum seems to help a lot

[2019-09-08 19:18] #217 closed

[2019-09-09 21:03] bharath0208 opened #218 "Error when querying for data using stocator."
Hi Team,

I am trying to query data in IBM COS by using a SQL engine tool and it fails. It works fine when I use s3a file system way of creating tables and querying the data. I implemented stocator to get the multi-cos support but I see that the query fails. It works fine if i am bringing it down to 110GB. Also if I double the number of resources than the one i was using for s3a it seems to be wor

[2019-09-11 14:20] Tradunsky opened #219 "Upgrade hadoop to 2.9.0"
I need to used s3 efficient output committer together with s3aguard. I found this committer simple to setup, but I get `java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.s3a.S3AFileSystem not found` because hadoop dependency is messing up with the one that comes with stocator - 2.7.3

[2019-09-11 18:39] gilv commented on #218
@bharath0208 need more details to understand the issue... exception thrown from  org.apache.http.conn.ConnectionPoolTimeoutException: Timeout waiting for connection from pool
so i would start with configuring relevant keys to extend timeouts, pool, etc. You definitely not need to double resources for Stocator. See COS Connector optional configuration tuning from the https://github.com/CODAIT/stoca

[2019-09-11 20:14] bharath0208 commented on #218
@gilv thanks for the response. What details do you need? I have tried optimizing the parameters like fs.cos.connection.maximum,fs.cos.connection.timeout in my core-site.xml. Still the issue continues. But when i increase the number of workers its able to handle the same amount of data. Thats the reason i asked is it required to increase resources when working with stocator.

[2019-09-12 05:20] gilv commented on #218
@bharath0208 I wonder how this exception related stocator itself. The exception thrown from at io.prestosql.plugin.hive.parquet.HdfsParquetDataSource.readInternal(HdfsParquetDataSource.java:111) and originated in com.amazonaws.SdkClientException: Unable to execute HTTP request: Timeout waiting for connection from pool and org.apache.http.conn.ConnectionPoolTimeoutException: Timeout waiting for con

[2019-09-13 07:00] gilv commented on #218
@bharath0208 very interesting..thanks

[2019-10-16 03:47] bharath0208 opened #221 "Slowness when querying data(parquet) from COS"
We have a SQL Engine tool similar to spark SQL which queries data from COS. We have CSV data close to 1 TB in size which we have compressed to parquet format(250GB). We are running this SQL engine tool on k8's distributed in multiple locations of Dallas. At first, we had a very small cluster with just 15 worker nodes at which we were seeing a response time of less than 1 min when running queries.

[2019-10-16 20:54] bharath0208 commented on #221
This is what the IBM COS team has to say
[code]

[2019-10-18 04:03] gilv commented on #221
@bharath0208 How many partitions do you have for the Parquet file and how the work is being divided between the workers as there shouldn't be contention on the same object?  The high client wait times are possibly related to the network config of the k8s cluster

[2019-10-18 04:42] bharath0208 commented on #221
@gilv  We are having different folders inside our bucket each with 7-10 files inside them. These files vary in size. Few folders are having files in KB, few in MB and few files are in GB's). The work is divided equally on all the k8 nodes as our SQL engine splits the stage onto all the nodes in which they are deployed. This means that each subset of a stage running on a node would fetch the data f

[2019-10-18 09:28] michaelfactor commented on #221
@bharath0208 so on a given stage could multiple workers be processing the same multi GB object?  If so, partitioning your Parquet file into ~64MB objects might address the contention.

[2019-10-24 23:22] mfeiman opened #222 "Using Stocator for Amazon S3 writing"
We'd like to try Stocator on Amazon S3 to write large parquet file - currently running in performance issues most likely related to well-known output commiter performance issue
(and EMR optimized commiter is not available option in our case).
So can the stocator connector be used in Spark application to read/write parquet files to Amazon S3 ? Will it helps with performance in such case? Then how a

[2019-10-25 19:36] mtsargent opened #223 "Missing glob support when reading files"
When reading multiple files at once with Spark, I would expect to use wildcards/other general glob patterns (similar to the answer https://stackoverflow.com/questions/24029873/how-to-read-multiple-text-files-into-a-single-rdd/24036343). Example repeated here for simplicity:

When using Stocator, attempting to read files in this way fails:
    val junkcsv = spark.sqlContext.read.option("header", "t

[2019-10-26 06:53] gilv commented on #223
@mtsargent you are not suppose to access parts of the file. This is general Hadoop eco-system usage. Parts iare something internal,  that were  created by distributed tasks. You should never access parts directly, rather you need to use ("cos://some-bucket.myCos/somefile.csv") and then globber is supported of course.

[2019-10-26 14:02] mtsargent commented on #223
Fair point about part files, but would you anticipate the stocator globber to work with non-part files?

Suppose I try to use this to read in multiple files:

Would you expect this to read in all of the following from my COS bucket?

While also ignoring other files. Example:

I suppose I can just set up this scenario and test it out.

[2019-10-26 14:05] gilv commented on #223
@mtsargent i expect exactly as you wrote. if this doesn't work, then it's a bug in Stocator and need to be fixed of course.

[2019-10-26 14:08] gilv commented on #223
@mtsargent however it's not clear how to make ranges in [x-y]...if it's numeric or literal is important to know. for example, [aaxy-xyba], what you expect to have? there might be thousands of objects, how to identify them? or you need only numeric, [1-100], will be 1,2,..,99,100?

[2019-10-26 14:19] gilv commented on #222
@mfeiman Stocator officially supported for IBM Cloud Object Storage. You can try Stocator with Amazon S3, just configure access key, secret key, configure endpoint to the Amazon S3 endpoint, but this is not something we tested or work with.

[2019-10-26 14:28] mtsargent commented on #223
I think each expression in brackets only corresponds to a single character. The syntax I am familiar with is described here: http://man7.org/linux/man-pages/man7/glob.7.html.
[aaxy-xyba] would be the same as a single character match out of [abxy], and [1-100] would be a single character match the same as writing [01] or [0-1].

At the very least, I can set up this test next time I am around my wor

[2019-10-27 07:57] gilv commented on #223
@mtsargent thanks.  I think we support {} right now, [] is not supported, but i need double check. At least i don't see unitests for [], only for {} https://github.com/CODAIT/stocator/blob/master/src/test/java/com/ibm/stocator/fs/cos/systemtests/TestCOSGlobberBracketStocator.java

Will you be able to extend code to support also [] ? will be great if you can work on it..

[2019-10-28 02:45] mtsargent commented on #223
This may be something I can try to take on. It likely wouldn't be for a few weeks at the earliest.

[2019-10-28 15:28] ssdag111 opened #224 "Running into issuues when trying to install and use stocator with pyspark"
So I'm trying to use stocator with pyspark (for reading and writing files to a bucket on IBM cloud storage) but am running into some issues on a linux system.

Versions for everything:
stocator: stocator-1.0.36 (IBM-SDK)
pyspark: spark-2.4.4
Python: Python 3.7.4

I run pyspark with the following commands:

`pyspark --jars stocator-1.0.36-SNAPSHOT-IBM-SDK.jar
`
or

`pyspark --jars /_path to full lo

[2019-10-29 11:08] gilv commented on #224
@ssdag111 you need to use pattern of the form cos://<yourbucket>.<service name>/<rest of path>. so based on the configuration you used, the patten would be

abj = "cos://name_of_bucket.mycos/1.txt"

also the problem you have is not Stocator related, but general usage how to add external jar to Spark. Seems Stocator jar is not loaded for some reason. Please double check this

[2019-10-29 13:34] ssdag111 commented on #224
Okay I'll try out what you suggested here but what is a sureshot way of loading the jar? I cd into the directory where it is located and then run pyspark from there

[2019-10-29 13:40] ssdag111 commented on #224
I just tried it out.. nothing..

abjj = "cos://test-bucket.mycos/1.txt"
leads to same error as before..

How do I check that the stocator jar is not getting loaded? I mean is there some means to check for this within python itself (display versions etc.)?

[2019-10-29 15:41] gilv commented on #224
@ssdag111 i suggest you to see in Spark documentation how to load jars. It's not Stocator related issue...pure Spark + how to load external jar. May be your path is wrong to jar, may be you need to use some configuration in Spark to point to jar, may be some other command to load jar, etc..

[2019-11-03 04:16] gilv commented on #224
@ssdag111 your exception is above stocator...you need to verify all steps to make sure you properly include jar into Spark. Are you sure the jar at the location you specified?

[2019-11-03 04:17] gilv commented on #222
we can reopen it again if needed

[2019-11-03 04:17] #222 closed

[2019-11-05 19:20] ssdag111 commented on #224
Yes.. I even cd'd into the directory where it is located and then started spark but to no avail..

[2019-11-17 12:17] sgop001 opened #226 "How do you use stocator on an IBM Watson Studio Jupyter notebook?"
I understand that stocator is pre-installed on the Jupyter notebooks present on IBM cloud.

Say I have a bucket 'bucket-name-vers1' and a set of credentials, how do I go about writing a file to the same? Do I need to set up the credentials on the notebook for connecting the bucket to stocator? If so, please tell me how.

For eg.. I want to write a file to the bucket then what would it's path look

[2019-11-17 13:39] gilv commented on #226
@sgop001 you should address those questions to IBM Watson Studio support, etc. Here we maintain Stocator project itself and the issues around it. Thanks

[2019-11-17 13:39] #226 closed

[2019-11-18 15:20] sgop001 commented on #226
Can you please give me some example usage anyways? Maybe a small snippet on the IBM cloud on your side and if it is able to work for you then please share it here?

The reason I'm asking is because there is obviously some kind of setup (credentials for cloud storage access if the cloud storage you're using is not directly related to your project, I might be wrong on the second part though) require

[2019-11-18 15:22] sgop001 commented on #226
Everything I try seems to throw some sort of error.. either the cos filesystem is not found or something else. I've tried everything..

I've settings within SparkContext object, tried using the 'filesystem.service-name' schema etc. nothing works

[2019-12-13 15:21] desimonemike123 opened #227 "Possible Stocator config issue"
We're hitting a stocator configuration issue within an HDP 2.6.5 cluster (ships with Spark 2.3.x, HDFS, YARN, MapReduce2 2.7.x).  Per stocator doc, we built the stocator-1.0.35-IBM-SDK.jar, configured IBM COS buckets, and using spark-submit with the --jars option we were was able read and write to the buckets without issue.  Within the spark program we set the _jsc.hadoopConfiguration() with the v

[2019-12-15 06:32] gilv commented on #227
@desimonemike123 based on the log, it seems you are using Hive, right? If this is the case, then stocator doesn't support Hive flows

[2019-12-15 21:00] desimonemike123 commented on #227
Thx for the fast reply Gil, I appreciate it.  Yes, we do currently utilize Hive to store schema and partition metadata for our externally defined tables on HDFS. I was trying to follow that same convention for data that resides on IBM COS.  I was reading documentation on IBM's Analytic Engine where it states utilizing Stocator as its connector to COS, and also provides a sample of a defining Hive

[2019-12-21 16:55] upendrasharma44 opened #229 "stocator not working with spark-shell -- No FileSystem for scheme: cos"
Hi,
I am trying to test stocator with my IBM COS account.
For quick testing I am using spak-mater and spark-worker-1 container-setup from https://github.com/big-data-europe/docker-spark
(spark-master:2.4.4-hadoop2.7).

I start spark-shell with stocator as shown below:
`/spark/bin/spark-shell --packages com.ibm.stocator:stocator:1.0.36`

I am observing and Exception: ` No FileSystem for scheme: cos

[2019-12-21 19:44] gilv commented on #229
@upendrasharma44 see this https://github.com/CODAIT/stocator#reference-stocator-in-the-core-sitexml

[2019-12-23 15:25] upendrasharma44 commented on #229
Thanks @gilv for your response.
It was not obvious which steps are necessary and which are optional, especially given that I did not even have `core-site.xml`.

I used the following `conf/core-site.xml` and it worked on my machine with a warning (did create the files)

[code]

configuration: `conf/core-site.xml`
[code]

[2019-12-23 15:25] #229 closed

[2019-12-24 13:49] gilv commented on #229
@upendrasharma44 you don't need core-sites.xml. You can provide all configurations with sc.hadoopConfiguration.set., e.g. sc.hadoopConfiguration.set("s.stocator.scheme.list", "cos"), etc.

[2020-02-26 22:01] nkurn opened #237 "need help:how to list directories/folders in a vault using stocator"
I need to do this using spark/scala. I am able to access files but I need to list files using wildcards
eg.  /*/*/*.gz in a vault.

[2020-02-26 22:10] nkurn commented on #237
I need to list directories and access files using wildcards for directories like /*/*/*.gz

[2020-02-27 06:27] gilv commented on #237
@nkurn you can use * already. What is the issue?

[2020-02-28 21:48] nkurn commented on #237
sorry, my mistake it is working, I will close this.

thanks for the quick response!

[2020-02-28 21:48] #237 closed

[2020-03-18 15:19] IainMeeke opened #240 "Stocator maven releases are out of date"
I am using maven to include the stocator library in my project. I have taken the jar from the maven repository here https://mvnrepository.com/artifact/com.ibm.stocator/stocator/1.0.37.

While using the jar I have been getting the error `com.ibm.stocator.fs.common.exception.ConfigurationParseException: Configuration parse exception: Access KEY is empty. Please provide valid access key`.

From my un

[2020-03-19 06:57] gilv commented on #240
@IainMeeke the master branch is based on Amazon SDK, while cos-sdk branch is based on IBM COS SDK. In the near future we will change that, so master branch will use cos-sdk.
Because of this, you can use HMAC authentication (access key + secret key ) when you use master branch and you have an option to use iam key only for cos-sdk branch.
Maven repository is based on master.

Does this helps?

[2020-03-19 09:10] IainMeeke commented on #240
Yes this explains the issues I was having, thank you for the response. It could be worth adding this difference to the documentation to avoid further confusion.

[2020-03-19 09:10] #240 closed

[2020-03-19 14:40] theathibm opened #241 "No AbstractFileSystem configured for scheme: cos"
I'm successfully using COS storage for saving parquet files via Spark Dataframes similar to the following:

- **newWeatherDF.write.format("csv").parquet("cos://..../ingested//data.parquet")**

However, now I'm trying to use DeltaLake from DataBricks and when running the following line in pyspark I get an error:

- Failing Line :       **newDF.write.format("delta").save("cos://.../ingested/delta/da

[2020-03-21 15:47] gilv commented on #241
@guykhazma can you please comment here? thanks

[2020-03-22 05:28] guykhazma commented on #241
Hi @theathibm,

Seems like you didn't configure COS in the Hadoop Configuration.
You can use this for example:
[code]
For more authentication options (IAM) please refer to the [README](https://github.com/CODAIT/stocator/blob/master/README.md).

To use DeltaLake with COS you can use the `COSLogStore` implementation as explained in this [PR](https://github.com/delta-io/delta/pull/302).

[2020-04-16 08:33] #241 closed

[2020-04-24 13:27] blair-anson opened #245 "Hive error when using Spark compiled with stocator"
Hi I have built Spark from source, and included the stocator dependency as mentioned in the stocator ReadMe file. I am using Hive ontop of Spark and when I run a hive query I get the following error. It looks like stocator's own dependencies are not being included although it is in spark's pom.xml
Any suggestions as to how to resolve this?

[code]

[2020-04-25 13:11] gilv commented on #245
@blair-anson you need to have AWS SDK on the class path. Stocator doesn't shade it.
I am not sure what kind of scenarios you run, but please notice that Hive is not supported.

[2020-04-27 07:47] #245 closed

[2020-05-05 15:47] jasimwhd opened #246 "Issues while deploying the stocator connector of Spark Java in Docker container"
Hi,

I am using Stocator connector _1.1.0_ in my JAVA Spark application _2.0.1_ to read/write data from IBM COS. My application works smoothly through local deployment. However, it fails to run in docker container mode with an exception:
[code]

I am using the following dockerfile to achieve my dockerization building and staging:

My spark context configs:

Could you please let me know if there is

[2020-05-05 16:32] gilv commented on #246
@jasimwhd interesting...but exception is way above Stocator. It even can't find Stocator jar and fails at
Exception in thread "main" java.io.IOException: No FileSystem for scheme: null
        at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:2421)
        at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2428)

sample.jar works locally and fails from Docker?

[2020-05-14 16:20] SaiAle501 opened #247 "Accumulator error"
'SparkContext' object has no attribute 'acccumulator'

[2020-05-15 11:16] gilv commented on #247
@SaiAle501 Spark related issues need to be opened in the Spark project. SparkContext doesn't exists in the Stocator project

[2020-05-15 11:16] #247 closed

[2020-07-01 20:48] ImErick opened #249 "Did not notice an improve of performance when upload a CSV to COS with scala & spark"
Hi guys,
Do you know if I miss something in the hadoop configuration? I also add the last 4 code lines and still have the same perfomance

    sparkContext.hadoopConfiguration.set("fs.stocator.scheme.list", COS_SCHEME)
    sparkContext.hadoopConfiguration.set("fs.cos.impl", STOCATOR_FS)
    sparkContext.hadoopConfiguration.set("fs.stocator.cos.impl", STOCATOR_COS_API)
    sparkContext.hadoopConfig

[2020-07-02 04:59] gilv commented on #249
@ImErick coalesce(1) means you are taking ALL the data from ALL the partitions and move it into single partition. In this case you have a single file that you persist in object storage. So if you use Stocator or another connector you will not notice much difference. However .coalesce(1) is not how Big Data engines suppose to work. The whole idea is to have parallel datasets and not entire dataset

[2020-07-02 14:18] ImErick commented on #249
Yeah, but what can be the best approach in order to process all my data (in partitions of course) and after that have a single CSV file that will send to COS using Stocator?

[2020-07-02 16:23] gilv commented on #249
@ImErick Hadoop eco-system never write single file..it always blocks / or parts, etc. Why you need single file?

[2020-07-03 18:55] ImErick commented on #249
@gilv well, because I created a ETL pipeline, and one part of the requerimients it's in the L(oad) phase it's neccesary to have a one single CSV file in order to send to Cloud Object Storage and after that csv will be consume by DB2 table

[2020-07-05 07:37] gilv commented on #249
@ImErick in this case there will be about 7 REST calls with non Stocator and about 2 REST calls with Stocator. You will not notice of course any difference for 1 object

[2020-07-06 14:06] ImErick commented on #249
@gilv so, looks like I don't have any option, well thanks for your help :D

[2020-07-07 15:02] #249 closed

[2020-07-10 06:10] student2028 opened #251 "spark strucutred stream with cos source use stocator fail by connection time out from pool"
I use spark structured streaming to list cos bucket , streaming will exit sometimes for the following reason, I use stocator 1.0.36 version, spark2.4.4:
com.amazonaws.SdkClientException: Unable to execute HTTP request: Timeout waiting for connection from pool
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleRetryableException(AmazonHttpClient.java:1175)
	at com.amazonaws.http.AmazonHt

[2020-07-10 09:43] gilv commented on #251
@student2028 have you tried to change default configuration values?
https://github.com/CODAIT/stocator#cos-connector-optional-configuration-tuning
there pool size, connection timeouts,etc.

[2020-07-13 17:22] Surya-Penumatcha opened #252 "Stocator is unable to list objects in ceph storage"
I went through two cases (1) connecting to a COS instance on IBM Cloud (2) connecting to ceph storage setup.
1. In case (1) I observed that when stocator makes the GET request (`/suryas-playground-cos-iae-test/?prefix=surya01%2F&max-keys=5000&encoding-type=url`) to COS asking to list objects (line 890 COSAPIClient.java), the returned results contains key in the format:
[code]
1. In case (2) when s

[2020-07-13 17:23] Surya-Penumatcha commented on #252
I created a PR https://github.com/CODAIT/stocator/pull/250 to resolve this issue.

[2020-07-23 08:28] blair-anson opened #254 "fails to recognise partition folders when msck repair table is used in spark-sql"
Spark v3.0.0
Stocator v1.1.1

Hi I am using IBM COS to store a number of parquet files. I have a table setup using spark-sql shell that looks like this...

CREATE EXTERNAL TABLE local_raw_aaa_bbb (
id string,
latitude float,
longitude float,
observationTimeUtcIso bigint,
data1 float,
data2 float,
observationTimeUtcIsoString string
)
PARTITIONED BY (country string, year string, month string)
STORED

[2020-07-30 13:50] robbyki opened #255 "Compatibility with S3A Committers"
Is there any plan to be able to use the following feature when authenticating to COS in order to take advantage of the new committers in hadoop 3.x `spark.hadoop.fs.s3a.committer.name directory`

[2020-07-30 19:26] gilv commented on #255
@robbyki what is special in those committers? can you please give more information?

[2020-07-30 19:29] robbyki commented on #255
@gilv this is a good documentation:

# Committing work to S3 with the "S3A Committers"

This page covers the S3A Committers, which can commit work directly
to an S3 object store.

These committers are designed to solve a fundamental problem which
the standard committers of work cannot do to S3: consistent, high performance,
and reliable commitment of output to S3.

For details on their internal de

[2020-08-01 14:14] gilv commented on #255
@robbyki  I guess you can use s3a if you need s3a committers. Stocator provides alternative way to make Spark efficiently work with object storage. There are no plans to make Stocator identical to s3a.

[2020-08-01 14:16] gilv commented on #254
@guykhazma any ideas?

[2020-08-02 14:06] guykhazma commented on #254
Hi @blair-anson,

Can you please try setting flat listing off by setting:
`fs.cos.flat.list` to `false`.

and update if it works for you?
In general, the recover partitions command won't work when flat listing is set to true because of the way the Spark code is written.

[2020-08-08 13:02] blair-anson commented on #254
@guykhazma yes that fixed it thanks!
I didn't have that setting at all in my `hive-site.xml` file previously, so I guess it is set true by default.

[2020-08-08 13:02] #254 closed

[2020-08-08 13:04] blair-anson commented on #254
May I suggest that in the main Readme.md file it should mention that `fs.cos.flat.list` is recommended to be `set` to false when working with COS and SparkSQL / Hive

[2020-08-08 19:03] gilv commented on #254
@blair-anson i guess we should mention that it should be false for Hive style only. Great that the issue was resolved for you

[2020-08-09 05:03] gilv commented on #254
@blair-anson i will write some short blog / wiki on this issue..to explain why we have this flat.listing in a first place, the cons and pros of it and when it better be disabled.

[2020-08-09 07:18] guykhazma commented on #254
@gilv @blair-anson I would recommend setting `flat.listing` to `false` by default since this is the behaviour that the Spark driver expects and also it opens up the possibility of parallel listing in Spark.

setting `flat.listing` to `true` is safe only when we know that the intention of the listing is to get the objects (so it is safe on the executers in most cases for example).

The code path fo

[2020-08-09 07:43] gilv commented on #254
@guykhazma yes...let's make it false by default as you suggest

[2020-08-12 15:01] yangchenghuang opened #256 "Bug - Spark Dynamic Partition Insert not supported by Stocator"
Hey @gilv

We (Truata) are using Stocator with IBM IAE to access IBM CoS. We recently found the following issue with Stocator when running Spark Dynamic Partition Insert (added to Spark since Spark 2.3.0) -
https://issues.apache.org/jira/browse/SPARK-20236
https://docs.databricks.com/spark/latest/spark-sql/language-manual/insert.html

When we try to run "INSERT OVERWRITE TABLE emp2 PARTITION (dept

[2020-08-12 15:16] gilv commented on #256
@yangchenghuang Thanks for reporting this. My general view that insert dynamic partitions against any object storage is a bad idea for Spark ( or Hive). The process involves a lot of listing, renames on directory level, tmp files, object renames, etc. Since rename is not atomic operation in object storage, this process may generate corrupted data or partial data. Directory rename is even worse. In

[2020-08-12 16:05] yangchenghuang commented on #256
@gilv Many thanks for the prompt response!
I totally agree with your concerns on rename and (in general) directory-level operations with object storage. We are indeed observing very heavy requests (status check, IAM auth etc), even without rename on partitions / directories.
Thanks for the suggestions. We are working on repartitioning the data, to avoid having too many files under a partition. It

[2020-08-14 00:34] student2028 commented on #251
@gilv Thanks, I refer the default value, the default value is very large now,
fs.cos.threads.max         10
fs.cos.connection.maximum  10000
fs.cos.attempts.maximum 	20
fs.cos.connection.timeout 	800000
do you have any suggestion?

[2020-08-17 11:49] subhamsriv opened #258 "saveAsTextFile method not working"
Hi,
I was following this tutorial: https://developer.ibm.com/technologies/object-storage/tutorials/analyze-data-faster-using-spark-and-ibm-cloud-object-storage-s3-vs-swift-api/

Starting spark-shell:
spark-shell --jars /home/jovyan/stocator-1.1.2-SNAPSHOT-jar-with-dependencies.jar

After generating the jar when I am trying to save a file to IBM cloud storage, I am getting following error:
distData

[2020-08-17 14:29] subhamsriv commented on #258
I was using the wrong endpoint s3.us.cloud-object-storage.appdomain.cloud instead I had to use s3.us-east.cloud-object-storage.appdomain.cloud.

Now I am able to save the file, but getting the following warning in the shell:

20/08/17 14:24:14 WARN ApacheUtils: NoSuchMethodError was thrown when disabling normalizeUri. This indicates you are using an old version (< 4.5.8) of Apache http client. It

[2020-08-18 09:12] gilv commented on #258
@subhamsriv a bit hard to follow..
your exception indicate something in COSApiclient line 407, but this line contains
 String mRegion = props.getProperty(REGION_COS_PROPERTY);

so it definitely not the right line.

also issue seems between AWS SDK and HTTP client version, but we do use
<httpcomponents.httpcore.version>4.4.11</httpcomponents.httpcore.version>
        <httpcomponents.httpclient.vers

[2020-08-19 04:28] #252 closed

[2020-08-20 11:52] #255 closed

[2020-08-21 13:44] benzim opened #259 "IAM token is not getting updated on 1.0.36-ibm-sdk"
I am seeing the same behavior from https://github.com/CODAIT/stocator/issues/152 on branch `1.0.36-ibm-sdk`. Once the first token used expires, trying to access the bucket, even after setting `fs.cos.<service>.iam.token` to a new valid token, results in this error.
[code]

[2020-08-28 03:19] student2028 opened #261 "COSOutputStream: No space available in any of the local directories"
I use spark 2.4 structured streaming and checkpoint to ibm cos, the spark job run two days ,report error
COSOutputStream: No space available in any of the local directories
could you give me some advices? thanks

[2020-08-28 03:20] student2028 commented on #261
Now stocator is not support spark3.0 ?

[2020-08-28 15:39] gilv commented on #261
@student2028 i don't understand the question...of course Stocator can work with Spark 3.X
"no space available" - the cluster where your Spark is running - may be some disks has no empty space?

[2020-08-28 15:41] #259 closed

[2020-08-28 15:41] #256 closed

[2020-08-28 15:42] #224 closed

[2020-08-28 15:42] #221 closed

[2020-08-28 15:43] #246 closed

[2020-08-31 11:19] mrmadira commented on #256
Hi @yangchenghuang - you mentioned you have tested this on your system. Can you give details of how you tested? Was it using spark-shell or spark-submit?

[2020-09-04 06:47] GeethaSravanthi opened #262 "Passing IAM end point in stocator is not taking effect"
Hi,

We are passing IAM end point in stocator as "fs.cos.myCos.iam.endpoint" and the api key as "fs.cos.myCos.iam.api.key". Does it actually use the IAM end point? The same api key works with the same IAM end point when done through postman and I can get the token successfully. However with stocator I am getting following issue.

**Caused by: com.ibm.stocator.thirdparty.cos.services.s3.model.Amazo

[2020-09-04 07:03] gilv commented on #262
@yangchenghuang
   if (apiKey != null || token != null) {
      String serviceInstanceID = props.getProperty(IAM_SERVICE_INSTANCE_ID_PROPERTY);
      String iamEndpoint = props.getProperty(IAM_ENDPOINT_PROPERTY);
      String maxTokenRrety = props.getProperty(IAM_TOKEN_MAX_RETRY_PROPERTY);
      String tokenRefreshOffset = props.getProperty(IAM_TOKEN_REFRESH_OFFSET_PROPERTY);
      if (iamEndpoint

[2020-09-04 07:09] gilv commented on #262
@yangchenghuang can you check logs in DEBUG mode? May be some property set not correctly? Otherwise, we may want to open issue on COS SDK..but let's see first here what happens

[2020-09-07 17:31] bambrozio commented on #224
Ok, I managed to address it. Here's a snippet as an example that works (in case someone runs into the same issue): https://github.com/bambrozio/snippets/blob/master/cloud/icos/pyspark-icos-stocator.py

[2020-09-08 15:46] benzim opened #263 "Cannot change API key"
This is on version `1.0.36-ibm-sdk`.
### Steps to recreate
1. Connect to a bucket by setting the property `fs.cos.<service>.iam.api.key` to a valid API key that has access to the bucket.
2. Try to connect to a second bucket that the first API key does not have access to by setting the property `fs.cos.<service>.iam.api.key` to a second API key that does have access to the second bucket.
3. Attempt

[2020-09-08 16:53] gilv commented on #263
@benzim you are using same <service> name? If you use other, you can access... I will check if it cached in Spark against connector once it's initiated or some issue in the connector itself

[2020-09-08 17:00] benzim commented on #263
I am using the same `<service>` name for both. Should I be using a different `<service>` name for each bucket?

[2020-09-08 17:26] gilv commented on #263
@benzim it will work with different service names, but i assume it can also work with one service name for different buckets. You need to verify you set ALL keys for the 2nd bucket and not just change API key. Stocator by itself doesn't cache this data. It's Spark that once connector is initiated it caches it and never call init() again. But Spark does it per URL.

[2020-09-08 18:21] benzim commented on #263
@gilv What other keys do I need to set? The endpoint is the same for both buckets.

[2020-09-09 03:21] gilv commented on #263
@benzim let me test the same scenario, i will then spot what is wrong

[2020-09-09 03:30] gilv commented on #263
@benzim it actually works for me..may be you change api key in a wrong way, so actually previous one is use for the new bucket?

[2020-10-12 20:42] charles2588 opened #267 "Unable to read from Cloud Object storage when the begining of the path contains /"

[2020-10-12 20:48] charles2588 opened #268 "Unable to read from Cloud Object storage when the begining of the path contains "/""
The COS bucket contains top level folder called "/abc".
Use ibmos2spark for making cos url.
Spark 2.4 with Python 3.6. => IBM Watson studio on Cloud.

input_bucket= "/abc"

df = spark.read\
  .format('csv')\
  .option('header', 'true')\
  .load(spark_cos.url(input_file, input_bucket))

Trying to read it in Spark results in
Py4JJavaError: An error occurred while calling o477.load.
: org.apache.spar

[2020-12-14 17:07] robin-sun commented on #210
Is this issue fixed now after 16 months? I am still seeing an empty file being created.

[2020-12-15 05:46] gilv commented on #210
@robin-sun why there is a problem with an empty file? if you write "foo" file with Stocator via Spark it will be
``
foo
foo/_SUCCESS
foo/part-1-xx
foo/part-2-xx
etc.
[code]

[2020-12-15 10:30] robin-sun commented on #210
Hi Gil,
This is causing errors when downloading the whole parent folder to a Windows OS as Windows doesn't support file/folder with the same name.  I will have to download the output folder 1 by 1.

But I guess the question is really,  why do we need an empty file if it is not used/useful at all.

[2020-12-16 03:56] mariobriggs commented on #210
I think the real problem is this... if u wrote to COS using stocator, then u are forced that all your reader clients need to be using stocator as well. The latter is not under your control and therefore problematic.
thanksMario
 
 
----- Original message -----From: Robin Sun <notifications@github.com>To: CODAIT/stocator <stocator@noreply.github.com>Cc: Mario Briggs <mario.briggs@in.ibm.com>, Menti

[2020-12-16 09:46] robin-sun commented on #210
Hi Mario/Gil

Could you help me understand,  why do we need an empty file there?

[2020-12-17 18:05] dkazakevich commented on #206
Hi @gilv
Did you have a chance to review the issue?

[2020-12-22 16:57] #263 closed

[2020-12-22 16:58] #262 closed

[2020-12-22 17:03] gilv commented on #206
@dkazakevich i need to recall the issue. It was reported a year ago..so the problem is that you use Spark to access object "abc" and it's broken..then some process outside of Spark restore object "abc" and you want to use same Spark context to read "abc" again?

[2020-12-22 17:06] gilv commented on #210
@mariobriggs @robin-sun empty file name to simulate a folder in object storage is not invented by Stocator, but used in other Big Data systems. This is easiest way for Hadoop eco-system to mark a "folder".. So the compatibility with Windows indeed has issues with such approach. We need empty object since it has Stocator specific metadata. If you just need to download all data created by Stocator t

[2020-12-24 21:24] dkazakevich commented on #206
@gilv The issue was resolved by `spark.sql.parquet.cacheMetadata=false`.

[2021-01-21 05:21] #261 closed

[2021-01-21 05:21] #206 closed

[2021-01-21 05:22] #258 closed

[2021-01-21 05:26] #267 closed

[2021-02-10 18:10] stevehaertel opened #270 "Can I build the jar which includes a later version of the ibm-cos-sdk-java files?"
I noticed that when I followed the instructions to build the stocator jar file, I can see inside it that it took version 2.7.0 of the ibm-cos-sdk-java files.

Is it possible to build the jar with a different (later) version of the ibm-cos-sdk-java?

[2021-02-10 20:29] gilv commented on #270
@stevehaertel good point...will move it to 2.9.0

[2021-02-10 21:04] #270 closed

[2021-02-10 21:04] stevehaertel commented on #270
Thank you @gilv

[2021-03-02 04:41] VidyasagarMSC opened #271 "Stocator fails with Spark Streaming"
I tried reading and writing objects to COS using Stocator with Spark streaming but it fails with the below error

[code]

[2021-03-04 15:47] nkurn opened #272 "mkdir is failing with the following error"
2021-03-03 23:27:05,940 INFO fs.ObjectStoreVisitor: Stocator registered as cos for cos://hdfsVault.mycos/dir1
2021-03-03 23:27:05,952 INFO cos.COSAPIClient: Init :  cos://hdfsVault.mycos/dir1
2021-03-03 23:27:07,195 WARN cos.COSAPIClient: file status dir1 returned 404
-mkdir: Fatal internal error
java.lang.NullPointerException
	at com.ibm.stocator.fs.common.ObjectStoreGlobber.glob(ObjectStoreGlobb

[2021-03-04 17:27] nkurn commented on #272
has anyone seen this problem?

thanks.

[2021-03-23 17:54] flachasse commented on #270
The latest ibm-cos-sdk-java is now 2.9.1. Do I need to open anew issue so that it will be included in a future version of stocator-ibm-sdk?

[2021-03-26 16:59] nkurn commented on #237
Hi my mkdir is failing I opened bug # 272
Can someone please look

Sent from my iPhone

[2021-03-26 17:00] nkurn commented on #272
Hi This is the command I used

hdfs dfs -mkdir cos://hdfsVault.applogs/1/

2021-03-26 17:00:29,873 INFO fs.ObjectStoreVisitor: Stocator registered as cos for cos://hdfsVault.applogs/1
2021-03-26 17:00:29,885 INFO cos.COSAPIClient: Init :  cos://hdfsVault.applogs/1
2021-03-26 17:00:31,073 WARN cos.COSAPIClient: file status 1 returned 404
-mkdir: Fatal internal error
java.lang.NullPointerException

[2021-04-05 09:11] djain13 opened #274 "FileNotFoundException while accessing objects from hive-style partitioned data stored on an OCS cluster"
FileNotFoundException while accessing objects from hive-style partitioned data stored on an OCS cluster. Below is the exact exception trace:
[code]
Environment details:
CPDv3.5, Stocator build v1.1.3

[2021-04-05 09:50] djain13 commented on #274
After some code inspection, I found a code path in `list operation` where encoded common-prefix returned by OCS are not handled and being passed to the client(Spark), which leads to the above FNF exception. I did see this PR https://github.com/CODAIT/stocator/pull/250 but unfortunately, it's not covering this code path.

[2021-04-05 11:35] djain13 commented on #274
@gilv Created this PR https://github.com/CODAIT/stocator/pull/275 to address the issue
cc @guykhazma

[2021-04-25 14:20] mrmadira commented on #272
Hi @nkurn
- What is the environment you are testing this from?
- What is the version of stocator?
- And what is the object store you are testing with? Is it IBM COS?

[2021-04-25 14:22] mrmadira commented on #271
Have you tried using the ready jar from https://mvnrepository.com/artifact/com.ibm.stocator/stocator ?

[2021-04-25 14:33] mrmadira commented on #268
Hi @charles2588  - Is this still an issue Charles?
Can you give a repro of how to create the top level folder with a leading / in the first place?
I could not create from UI or from HDFS command..

[2021-04-25 15:42] nkurn commented on #272
Hi @mrmadira
Yes I ma using IBM COS

NAME="Ubuntu"
VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian

Hadoop 3.2.2

stocator-1.1.4

did you see the core-site.xml I have added?

thanks.

[2021-04-25 21:56] nkurn commented on #272
hdfs dfs -ls
hdfs dfs -cp
and other operations work fine.

[2021-04-26 04:48] rachnajain-ibm opened #277 "Upgrade guava from 27.0-jre to 29.0-jre #277"
For upgrading the guava from 27.0-jre to 29.0-jre against this PR [https://github.com/CODAIT/stocator/pull/273](url) ,
there were coming compilation errors.
To resolve this there is requirement of some code change resolved in the PR

[2021-05-03 02:18] charles2588 commented on #268
![image](https://user-images.githubusercontent.com/5734421/116836278-c38ba200-ab7a-11eb-91ec-521103dcd2ce.png)
I cannot upload an object with prefix / anymore so i cannot reproduce it anymore.
after refresh, the / prefix go away so no longer a valid usecase.
![image](https://user-images.githubusercontent.com/5734421/116836318-e28a3400-ab7a-11eb-80f4-4066fd264162.png)

[2021-05-03 02:18] #268 closed

[2021-05-31 13:20] mrmadira commented on #272
WE don't have a repro for this. Please close until we get more details

[2021-06-01 02:51] nkurn commented on #272
Hi,
can you guys please let us know if we are missing any configuration ?

why is stocator checking for file status ": file status 1 returned 404" when creating a directory?

thanks a lot,
Naga.

[2021-06-02 00:29] nkurn commented on #272
Also,
mkdir is working inside the spark-shell

scala> val statuses = fs.mkdirs(new Path(s"cos://TestVault1.mycos/d6"))
statuses: Boolean = true

it is failing only when I use the shell command, do you think I am missing some hadoop/hdfs configuration?

[2021-06-02 00:29] nkurn commented on #272
hdfs dfs -mkdir cos://TestVault1.mycos/d7
2021-06-02 00:07:58,829 INFO fs.ObjectStoreVisitor: Stocator registered as cos for cos://TestVault1.mycos/d7
2021-06-02 00:07:58,840 INFO cos.COSAPIClient: Init :  cos://TestVault1.mycos/d7
2021-06-02 00:07:59,855 WARN cos.COSAPIClient: file status d7 returned 404
-mkdir: Fatal internal error
java.lang.NullPointerException
	at com.ibm.stocator.fs.common.Ob

[2021-06-02 05:09] mrmadira commented on #272
Hi Naga -can you share your classpath that takes effect for HDFS?

[2021-06-02 14:02] nkurn commented on #272
HADOOP_CLASSPATH=/src/hadoop-release/lib/*:/src/hadoop-release/etc/hadoop/conf/*:/src/hadoop-release/etc/hadoop/*:/src/hadoop-release/share/hadoop/tools/lib/*

[2021-06-02 14:15] nkurn commented on #272
I am the root user when I run the shell FS commands, does it matter which user runs hdfs mkdir commands?

[2021-06-02 15:44] nkurn commented on #272
on the spark-shell using fs.mkdirs call the accesser is getting the put request and is succeeding

{"server_name":"xxxx","remote_address":"xxxx","remote_user":"xxxx","timestamp_start":"1622645396705","timestamp_finish":"1622645397190","time_start":"02/Jun/2021:14:49:56 +0000","time_finish":"02/Jun/2021:14:49:57 +0000","request_method":"PUT","request_uri":"/TestVault1/tdir1/","protocol":"HTTP/1.1",

[2021-06-02 15:47] nkurn commented on #272
when it fails on the FS shell there are 3 requests "REST.HEAD.OBJECT, REST.HEAD.OBJECT and REST.GET.VAULT

{"server_name":"xxx","remote_address":"xxx","remote_user":"xxx","timestamp_start":"1622645524767","timestamp_finish":"1622645524831","time_start":"02/Jun/2021:14:52:04 +0000","time_finish":"02/Jun/2021:14:52:04 +0000","request_method":"HEAD","request_uri":"/TestVault1/tdir2","protocol":"HTTP/

[2021-06-02 15:47] nkurn commented on #272
user_agent seems to be a little different each time, can you please check the requests above and see if it makes sense

[2021-06-02 16:59] mrmadira commented on #272
Seems you are on a very old version of stocator. Can you please try with latest version 1.1.3?

[2021-06-02 17:17] mrmadira commented on #272
I think you will face a different behaviour on latest though; I can see it throws a FNF exception on latest.
I'll check this further but until then I have a workarounds for you:
Create an empty directory  say `testdir` on HDFS using `hadoop fs -mkdir /testdir`. Then do a `hadoop fs -cp /testdir cos://mybucket.myservice/`

[2021-06-02 17:35] nkurn commented on #272
I tested the latest as well, it also fails.

thanks a lot for the workaround !! it is working. Please let me know once you have something for me to test. Thanks again for your help !!

[2021-06-02 19:52] nkurn commented on #272
nested directories creation doesn't seem to work

hdfs dfs -mkdir /dir2/dir3
hdfs dfs -cp /dir2/dir3 cos://hdfsVault.mycos/

is there a way to make it work?

thanks,
Naga.

[2021-06-02 20:25] nkurn commented on #272
looks like I need to use 2 step process

hdfs dfs -mkdir /dir2
hdfs dfs -cp /dir2 cos://hdfsVault.mycos/
hdfs dfs -mkdir /dir3
hdfs dfs -cp /dir3 cos://hdfsVault.mycos/dir2/

[2021-06-25 16:06] blindenvy opened #288 "Upgrade packages that have security vulnerabilities."
Several dependencies used by this project have logged security vulnerabilities:

-  [ ] CVE: CVE-2020-25649
    - CVSS: 7.5
    - Description: A flaw was found in FasterXML Jackson Databind, where it did not have entity expansion secured properly. This flaw allows vulnerability to XML external entity (XXE) attacks. The highest threat from this vulnerability is data integrity.
    - Severity: high

[2021-06-28 11:10] mrmadira commented on #288
Hey Christopher!

We just released the 1.1.4 version where the dependency versions have been upgraded. Both of the High ones got fixed in that.

[2021-07-02 16:48] blindenvy commented on #288
Thanks @mrmadira I have opened #289 to address the remaining issues reported by twistlock scans.

[2021-07-28 21:01] raghukiran1224 opened #291 "Support for Spark 3.x?"
Hi,

Does Stocator work with Spark 3.x? I see there are some dependency conflicts in the versions of Hadoop, etc for Spark 3.x and Stocator. When I create the `stocator` fat jar and use that with Spark 3.1, I run into Jackson consistency issues, whereas getting a thin jar and using that is missing a lot of dependencies.

Any guidance here will be helpful! Thanks!

[2021-07-29 03:30] gilv commented on #291
@raghukiran1224 it suppose to work, may be indeed some minor version conflicts. We will check

[2021-08-04 04:19] thoangtrvn opened #292 "Catalog table doesn't work with HIVE-style partitioning if there is no empty object ending with '/'"
Upon creating a HIVE-style partitioning with multiple partitions on IBM COS

[code]

Using Cloud SQL Query, I can create a catalog table using all 3 columns as the partitions (Col1, Col2, Col3). Querying this table returns data.

However, when I try to create a catalog table using only 2 columns (Col1, Col2), I can create the table, but querying the table returns no data. After the discussion with

[2021-08-04 09:24] dpittner commented on #292
@thoangtrvn can you add where you had to add objects to validate it's working when the objects are present?

[2021-08-08 17:24] mrmadira commented on #291
Hi Raghu - For IBM-SDK branch, we moved internal dependency on jackson-databind from 2.10 to 2.12.0 recently to fix a twistlock scan issue. And this is working fine in our tests with Spark 3.1.2, 3.1.1 and Spark 3.0.2.
For the master branch - the jackson-databind is still at 2.6.7.2.
Can you pls confirm where you are seeing the issues? And a little more detail on the error would help.

[2021-08-09 12:52] raghukiran1224 commented on #291
@mrmadira Thanks for the detailed explanation -- I will try the above and update the issue. @guykhazma had given me a similar feedback.

[2021-10-21 15:45] broussea1901 opened #293 "Using bucket endpoint having virtual-host pattern"
Stocator seems to only offer path style access to buckets `<endpoint>/<bucketid>`.
Is there any plan to support virtual-host style access `<bucketid>.<endpoint>` ?
https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-bucket-intro.html

[2021-10-27 20:59] theLegendary1 opened #294 "HTTP Client Version Warning"
`WARN ApacheUtils: NoSuchMethodError was thrown when disabling normalizeUri. This indicates you are using an old version (< 4.5.8) of Apache http client. It is recommended to use http client version >= 4.5.9 to avoid the breaking change introduced in apache client 4.5.7 and the latency in exception handling. See https://github.com/aws/aws-sdk-java/issues/1919 for more information.`

While using st

[2021-11-04 12:40] #292 closed

[2021-11-07 09:02] mrmadira commented on #291
@raghukiran1224 - I hope things  are working fine now. Can you close this issue?

[2021-11-07 12:58] raghukiran1224 commented on #291
Yes, closing!

[2021-11-07 12:59] #291 closed

[2021-11-19 23:20] blindenvy commented on #288
@mrmadira any reason the associated PR for this has yet to be merged?

[2021-11-20 12:17] mrmadira commented on #288
Can you pls share the relevant findings for twistlock? And what version of tt are you using?

[2021-12-08 06:45] gilv commented on #294
@theLegendary1 I don't think i  see this warning...I tested with Spark 3.2, Hadoop 3.2..

[2021-12-08 06:47] gilv commented on #293
@broussea1901 I assume nothing prevents to use virtual-host, but i guess this should be added to Stocator and not yet supported. Perhaps with additional config key and then Stocator will use virtual-host style..This seems like minor change in the code

[2021-12-13 11:50] #274 closed

[2022-03-31 17:14] shane-breeze opened #297 "Pandas load files written in COS with stocator"
I have written data to my COS using the cos:// protocol in IBM Watson Studio's pyspark notebooks.

In a python notebook I want to read those same files. Is there a way to use the cos:// protocol with pandas?

[2022-05-12 05:42] silpidhua opened #302 "Upgrade hadoop-version from 2.7.3 to 3.2.3"
Upgraded hadoop version from 2.7.3 to 3.2.3.
This modification requires code changes as well.

PR: https://github.com/CODAIT/stocator/pull/303

[2022-05-16 12:21] silpidhua opened #304 "Upgrade version of jackson_databind and commons-codec as per twistlock scan"
Upgrade version of jackson_databind to 2.13.1
and version of commons-codec to 1.13

[2022-06-22 14:18] reergymerej commented on #30
https://stackoverflow.com/a/32661336/1319850

[2022-08-02 06:39] mrmadira commented on #304
https://github.com/CODAIT/stocator/pull/309 - Undo some of changes above for a simpler solution; IBM SDK branch merge
https://github.com/CODAIT/stocator/pull/310 - Corresponding master merge

[2022-08-02 06:39] #304 closed

[2022-08-02 06:40] #302 closed

[2022-11-08 23:35] BryanCutler opened #313 "Upgrade Amazon SDK"
Using Stocator with Amazon SDK 1.11, I noticed that when uploading large files, it makes 2 passes on an InputStream to calculate the MD5 checksum. This is fixed in Amazon SDK 1.12.283. Requesting Stocator upgrade to at least that version for the improvement.

[2022-11-10 04:22] mrmadira commented on #313
Sure Bryan, we can take this up. cc @shivangi24

[2022-11-10 07:37] shivangi24 opened #315 "Upgrade version of jackson_databind as per twistlock scan"
Upgrade version of jackson_databind to 2.13.4

[2022-11-10 07:37] shivangi24 commented on #315
PR for update : https://github.com/CODAIT/stocator/pull/314

[2022-11-10 07:45] shivangi24 commented on #313
Updated aws sdk version to latest **1.12.338**
PR with master : https://github.com/CODAIT/stocator/pull/316
PR with 1.1.5-SNAPSHOT-ibm-sdk : https://github.com/CODAIT/stocator/pull/317

[2022-11-10 18:09] BryanCutler commented on #313
Thanks @shivangi24 !

[2022-11-15 06:02] mrmadira commented on #313
Bryan - can you check and close if it fixes your issue

[2022-11-15 20:40] BryanCutler commented on #313
Yes, thank you

[2022-11-15 20:40] #313 closed